{% extends "components/template.njk" %}

{% set page_title = "Error 1" %}
{% set enable_container_fluid = true %}
{% set enable_aside = false %}
{% set enable_header = false %}
{% set enable_footer = false %}

{% block content %}
  <div class="row g-0 align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-6 col-xl-4 text-center">
      <h1 class="widget20">404</h1>
      <h2 class="mb-3">Page Not Found!</h2>
      <p class="mb-4">Sorry we can't seem to find the page you're looking for. There may be amisspelling in the URL entered, or the page you are looking for may no longer exist.</p>
      <a href="{{ 'index.html' | url }}" class="btn btn-label-primary btn-lg btn-widest">Back to home</a>
    </div>
  </div>
{% endblock %}
