{% extends "components/template.njk" %}

{% set page_title = "Clipboard" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Form" },
  { text: "Advanced" },
  { text: "Clipboard", link: "form/advanced/clipboard.html" | url }
] %}
{% set js_links = [
  "assets/app/pages/form/clipboard.js" | url
] %}

{% block content %}
  <div class="row">
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Basic</h3>
        </div>
        <div class="portlet-body">
          <p><strong>ClipboardJS</strong> is a modern approach to copy text to clipboard. A pretty common use case is to copy content from another element. You can do that by adding a <code>data-clipboard-target</code> attribute in your trigger element.</p>
          <p>Additionally, you can define a <code>data-clipboard-action</code> attribute to specify if you want to either copy or cut content. For more references, you can look <a href="http://clipboardjs.com" target="_blank">ClipboardJS's page</a>.</p>

          <!-- BEGIN Grid -->
          <div class="d-grid gap-3">
          
            <!-- BEGIN Input Group -->
            <div class="input-group">
              <input class="form-control" id="clipboard-1" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
              <button class="btn btn-primary btn-icon" data-clipboard-action="copy" data-clipboard-target="#clipboard-1">
                <i class="fa fa-copy"></i>
              </button>
            </div>
            <!-- END Input Group -->
          
            <!-- BEGIN Input Group -->
            <div class="input-group">
              <input class="form-control" id="clipboard-2" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
              <button class="btn btn-primary btn-icon" data-clipboard-action="cut" data-clipboard-target="#clipboard-2">
                <i class="fa fa-cut"></i>
              </button>
            </div>
            <!-- END Input Group -->

          </div>
          <!-- END Grid -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Textarea</h3>
        </div>
        <div class="portlet-body">
          <textarea id="clipboard-3" class="form-control mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</textarea>
          <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#clipboard-3">Copy</button>
          <button class="btn btn-primary" data-clipboard-action="cut" data-clipboard-target="#clipboard-3">Cut</button>
        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Copy from attribute</h3>
        </div>
        <div class="portlet-body">
          <p>You don't even need another element to copy its content from. You can just include a <code>data-clipboard-text</code> attribute in your trigger element.</p>
          <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, saepe.">Copy to clipboard</button>
        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
