<!-- BEGIN Float Button -->
<div class="floating-btn floating-btn-end d-grid gap-2">
  <button class="btn btn-flat-primary btn-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Change theme" id="theme-toggle">
    <i class="fa fa-moon"></i>
  </button>
  <a class="btn btn-flat-primary btn-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Look documentation" href="https://docs.blueupcode.com/guide-html_v3-0-0.html" target="_blank">
    <i class="fa fa-book"></i>
  </a>
</div>
<!-- END Float Button -->
