{% from "components/variables.njk" import defaults %}

<!-- BEGIN Footer -->
<div class="footer">
  <div class="{{ container_class }}">
    <div class="row g-3">
      <div class="col-sm-6 text-center text-sm-start">
        <p class="mb-0"><i class="far fa-copyright"></i> <span id="copyright-year"></span> {{ defaults.brand_name }}. All rights reserved</p>
      </div>
      <div class="col-sm-6 text-center text-sm-end">
        <p class="mb-0">Hand-crafted and made with <i class="fa fa-heart text-danger"></i></p>
      </div>
    </div>
  </div>
</div>
<!-- END Footer -->
