<!-- BEGIN Button Group -->
<div class="btn-group me-2">
  <input type="radio" class="btn-check" name="timeOption" id="timeOption1" autocomplete="off" checked>
  <label class="btn btn-flat-primary" for="timeOption1">Today</label>

  <input type="radio" class="btn-check" name="timeOption" id="timeOption2" autocomplete="off">
  <label class="btn btn-flat-primary" for="timeOption2">Week</label>

  <input type="radio" class="btn-check" name="timeOption" id="timeOption3" autocomplete="off">
  <label class="btn btn-flat-primary" for="timeOption3">Month</label>
</div>
<!-- END Button Group -->

<button class="btn btn-label-info btn-icon" id="fullscreen-trigger" data-bs-toggle="tooltip" title="Toggle fullscreen" data-bs-placement="left">
  <i class="fa fa-expand fullscreen-icon-expand"></i>
  <i class="fa fa-compress fullscreen-icon-compress"></i>
</button>