<!-- BEGIN Dropdown -->
<div class="dropdown d-inline">
  <button class="btn btn-primary btn-wider" data-bs-toggle="dropdown">Apps</button>
  <div class="dropdown-menu dropdown-menu-start dropdown-menu-animated">
    <a href="#" class="dropdown-item">
      <div class="dropdown-icon">
        <i class="fa fa-boxes"></i>
      </div>
      <span class="dropdown-content">Inventory Manager</span>
      <div class="dropdown-addon">
        <span class="badge badge-warning rounded-pill">20</span>
      </div>
    </a>

    <!-- BEGIN Dropdown Submenu -->
    <div class="dropdown-submenu">
      <a href="#" class="dropdown-item">
        <div class="dropdown-icon">
          <i class="fa fa-project-diagram"></i>
        </div>
        <span class="dropdown-content">Project manager</span>
        <div class="dropdown-addon">
          <i class="caret"></i>
        </div>
      </a>
      <div class="dropdown-submenu-menu dropdown-submenu-end">
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Create project</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Delete project</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Ongoing project</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Completed project</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Urgent project</span>
        </a>
      </div>
    </div>
    <!-- END Dropdown Submenu -->

    <!-- BEGIN Dropdown Submenu -->
    <div class="dropdown-submenu">
      <a href="#" class="dropdown-item">
        <div class="dropdown-icon">
          <i class="fa fa-tasks"></i>
        </div>
        <span class="dropdown-content">Task manager</span>
        <div class="dropdown-addon">
          <i class="caret"></i>
        </div>
      </a>
      <div class="dropdown-submenu-menu dropdown-submenu-end">
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Show task</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Assign task</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Assign member</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Completed task</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Urgent task</span>
        </a>
      </div>
    </div>
    <!-- END Dropdown Submenu -->

    <a href="#" class="dropdown-item">
      <div class="dropdown-icon">
        <i class="fa fa-dollar-sign"></i>
      </div>
      <span class="dropdown-content">Invoice</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <div class="dropdown-icon">
        <i class="fa fa-user-cog"></i>
      </div>
      <span class="dropdown-content">My Account</span>
    </a>
  </div>
</div>
<!-- END Dropdown -->

<!-- BEGIN Dropdown -->
<div class="dropdown d-inline">
  <button class="btn btn-flat-primary btn-wider ms-2" data-bs-toggle="dropdown">Features</button>
  <div class="dropdown-menu dropdown-menu-start dropdown-menu-wide dropdown-menu-animated overflow-hidden">
    <div class="dropdown-row">

      <!-- BEGIN Dropdown Column -->
      <div class="dropdown-col d-flex flex-column align-items-start justify-content-center bg-primary text-white">
        <h2 class="font-weight-bolder">Welcome back!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, commodi hic qui aspernatur doloremque quos tempora placeat culpa illum, voluptatibus delectus provident cumque aliquid enim, laborum aliquam. Quod, perferendis unde.</p>
        <a href="{{ 'pages/login/login-1.html' | url }}" class="btn btn-light btn-wider">Login</a>
      </div>
      <!-- END Dropdown Column -->

      <!-- BEGIN Dropdown Column -->
      <div class="dropdown-col">
        <h4 class="dropdown-header">Features</h4>

        <!-- BEGIN Grid Nav -->
        <div class="grid-nav grid-nav-action">
          <div class="grid-nav-row">
            <a href="#" class="grid-nav-item">
              <div class="grid-nav-icon">
                <i class="far fa-window-restore"></i>
              </div>
              <span class="grid-nav-content">Dashboard</span>
            </a>
            <a href="#" class="grid-nav-item">
              <div class="grid-nav-icon">
                <i class="far fa-clipboard"></i>
              </div>
              <span class="grid-nav-content">TODO List</span>
            </a>
            <a href="#" class="grid-nav-item">
              <div class="grid-nav-icon">
                <i class="far fa-question-circle"></i>
              </div>
              <span class="grid-nav-content">Help Center</span>
            </a>
          </div>
          <div class="grid-nav-row">
            <a href="#" class="grid-nav-item">
              <div class="grid-nav-icon">
                <i class="far fa-images"></i>
              </div>
              <span class="grid-nav-content">Galery</span>
            </a>
            <a href="#" class="grid-nav-item">
              <div class="grid-nav-icon">
                <i class="far fa-chart-bar"></i>
              </div>
              <span class="grid-nav-content">Scrumboard</span>
            </a>
            <a href="#" class="grid-nav-item">
              <div class="grid-nav-icon">
                <i class="far fa-bookmark"></i>
              </div>
              <span class="grid-nav-content">Docs</span>
            </a>
          </div>
        </div>
        <!-- END Grid Nav -->

      </div>
      <!-- END Dropdown Column -->

      <!-- BEGIN Dropdown Column -->
      <div class="dropdown-col border-start">
        <h4 class="dropdown-header">Tools</h4>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Components</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Form Wizard</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Documentation</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Knowledge Base</span>
        </a>
        <a href="#" class="dropdown-item">
          <i class="dropdown-bullet"></i>
          <span class="dropdown-content">Inventory Manager</span>
        </a>
      </div>
      <!-- END Dropdown Column -->

    </div>
  </div>
</div>
<!-- END Dropdown -->
