{% from "components/variables.njk" import defaults %}

<!-- BEGIN Portlet -->
<div class="portlet border-0">
  <div class="portlet-header bg-primary rounded-0">

    <!-- BEGIN Rich List Item -->
    <div class="rich-list-item w-100 p-0">
      <div class="rich-list-prepend">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-light avatar-circle">
          <div class="avatar-display">
            <i class="fa fa-user-alt"></i>
          </div>
        </div>
        <!-- END Avatar -->

      </div>
      <div class="rich-list-content">
        <h3 class="rich-list-title text-white">Charlie Stone</h3>
        <span class="rich-list-subtitle text-white">admin@blueupcode.com</span>
      </div>
      <div class="rich-list-append">
        <span class="badge badge-label-light fs-6">9+</span>
      </div>
    </div>
    <!-- END Rich List Item -->

  </div>
  <div class="portlet-body p-0">

    <!-- BEGIN Grid Nav -->
    <div class="grid-nav grid-nav-flush grid-nav-action grid-nav-no-rounded">
      <div class="grid-nav-row">
        <a href="#" class="grid-nav-item">
          <div class="grid-nav-icon">
            <i class="far fa-address-card"></i>
          </div>
          <span class="grid-nav-content">Profile</span>
        </a>
        <a href="#" class="grid-nav-item">
          <div class="grid-nav-icon">
            <i class="far fa-comments"></i>
          </div>
          <span class="grid-nav-content">Messages</span>
        </a>
        <a href="#" class="grid-nav-item">
          <div class="grid-nav-icon">
            <i class="far fa-clone"></i>
          </div>
          <span class="grid-nav-content">Activities</span>
        </a>
      </div>
      <div class="grid-nav-row">
        <a href="#" class="grid-nav-item">
          <div class="grid-nav-icon">
            <i class="far fa-calendar-check"></i>
          </div>
          <span class="grid-nav-content">Tasks</span>
        </a>
        <a href="#" class="grid-nav-item">
          <div class="grid-nav-icon">
            <i class="far fa-sticky-note"></i>
          </div>
          <span class="grid-nav-content">Notes</span>
        </a>
        <a href="#" class="grid-nav-item">
          <div class="grid-nav-icon">
            <i class="far fa-bell"></i>
          </div>
          <span class="grid-nav-content">Notification</span>
        </a>
      </div>
    </div>
    <!-- END Grid Nav -->

  </div>
  <div class="portlet-footer portlet-footer-bordered rounded-0">
    <button class="btn btn-label-danger">Sign out</button>
  </div>
</div>
<!-- END Portlet -->
