<!-- BEGIN Portlet -->
<div class="portlet border-0 portlet-scroll">
  <div class="portlet-header bg-info rounded-0">
    <div class="portlet-icon text-white">
      <i class="far fa-bell"></i>
    </div>
    <h3 class="portlet-title text-white">Notification</h3>
    <div class="portlet-addon">
      <span class="badge badge-label-light fs-6">9+</span>
    </div>
  </div>
  <div class="portlet-body p-0 rounded-0" data-toggle="simplebar">

    <!-- BEGIN Rich List -->
    <div class="rich-list rich-list-action">
      <a href="#" class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-info">
            <div class="avatar-display">
              <i class="fa fa-file-invoice"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">New report has been received</h4>
          <span class="rich-list-subtitle">2 min ago</span>
        </div>
        <div class="rich-list-append">
          <i class="caret mx-2"></i>
        </div>
      </a>
      <a href="#" class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-success">
            <div class="avatar-display">
              <i class="fa fa-shopping-basket"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">Last order was completed</h4>
          <span class="rich-list-subtitle">1 hrs ago</span>
        </div>
        <div class="rich-list-append">
          <i class="caret mx-2"></i>
        </div>
      </a>
      <a href="#" class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-danger">
            <div class="avatar-display">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">Company meeting canceled</h4>
          <span class="rich-list-subtitle">5 hrs ago</span>
        </div>
        <div class="rich-list-append">
          <i class="caret mx-2"></i>
        </div>
      </a>
      <a href="#" class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-warning">
            <div class="avatar-display">
              <i class="fa fa-paper-plane"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">New feedback received</h4>
          <span class="rich-list-subtitle">6 hrs ago</span>
        </div>
        <div class="rich-list-append">
          <i class="caret mx-2"></i>
        </div>
      </a>
      <a href="#" class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-primary">
            <div class="avatar-display">
              <i class="fa fa-download"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">New update was availabled</h4>
          <span class="rich-list-subtitle">1 day ago</span>
        </div>
        <div class="rich-list-append">
          <i class="caret mx-2"></i>
        </div>
      </a>
      <a href="#" class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-success">
            <div class="avatar-display">
              <i class="fa fa-asterisk"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">Your password was changed</h4>
          <span class="rich-list-subtitle">2 day ago</span>
        </div>
        <div class="rich-list-append">
          <i class="caret mx-2"></i>
        </div>
      </a>
      <a href="#" class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-info">
            <div class="avatar-display">
              <i class="fa fa-user-plus"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">New account has been registered</h4>
          <span class="rich-list-subtitle">5 day ago</span>
        </div>
        <div class="rich-list-append">
          <i class="caret mx-2"></i>
        </div>
      </a>
    </div>
    <!-- END Rich List -->

  </div>
</div>
<!-- END Portlet -->