<!-- BEGIN Portlet -->
<div class="portlet portlet-scroll border-0">
  <div class="portlet-header portlet-header-bordered rounded-0">

    <!-- BEGIN Rich List Item -->
    <div class="rich-list-item w-100 p-0">
      <div class="rich-list-prepend">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-circle">
          <div class="avatar-display">
            <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
          </div>
        </div>
        <!-- END Avatar -->

      </div>
      <div class="rich-list-content">
        <h3 class="rich-list-title">Garrett Winters</h3>
        <span class="rich-list-subtitle">UX Designer</span>
      </div>
    </div>
    <!-- END Rich List Item -->

  </div>
  <div class="portlet-body" data-toggle="simplebar">

    <!-- BEGIN Chat -->
    <div class="chat">
      <div class="chat-item chat-item-start">
        <div class="chat-content">
          <p class="chat-bubble chat-bubble-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, eius.</p>
          <p class="chat-bubble chat-bubble-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, eius.</p>
          <span class="chat-time">2 min ago</span>
        </div>
      </div>
      <div class="chat-item chat-item-end">
        <div class="chat-content">
          <p class="chat-bubble">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, eius.</p>
          <span class="chat-time">1 min ago</span>
        </div>
      </div>
      <div class="chat-item chat-item-start">
        <div class="chat-content">
          <p class="chat-bubble chat-bubble-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, eius.</p>
          <span class="chat-time">2 min ago</span>
        </div>
      </div>
    </div>
    <!-- END Chat -->

  </div>
  <div class="portlet-footer portlet-footer-bordered rounded-0">

    <!-- BEGIN Input Group -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Type...">
      <button class="btn btn-primary btn-icon">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
    <!-- END Input Group -->

  </div>
</div>
<!-- END Portlet -->