{% extends "components/template.njk" %}

{% set page_title = "Avatar" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Advanced" },
  { text: "Avatar", link: "elements/advanced/avatar.html" | url }
] %}

{% block content %}
  <div class="row">
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Basic</h3>
        </div>
        <div class="portlet-body">
          <p><strong>Avatar</strong> can be used for displaying image, icon, or character on square or circle shaped elements. Put image, icon, or character into <code>.avatar-display</code>. Look the example below.</p>

          <!-- BEGIN Avatars -->
          <div class="d-flex">
            <div class="avatar">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar">
              <div class="avatar-display">
                <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar Image">
              </div>
            </div>
            <div class="avatar">
              <span class="avatar-display">C</span>
            </div>
          </div>
          <!-- END Avatars -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Circle version</h3>
        </div>
        <div class="portlet-body">
          <p>Extend default avatar element with <code>.avatar-circle</code> to change its shape to be circular.</p>

          <!-- BEGIN Avatars -->
          <div class="d-flex">
            <div class="avatar avatar-circle">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle">
              <div class="avatar-display">
                <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar Image">
              </div>
            </div>
            <div class="avatar avatar-circle">
              <span class="avatar-display">C</span>
            </div>
          </div>
          <!-- END Avatars -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Sizing</h3>
        </div>
        <div class="portlet-body">
          <p>If you want to change avatar size, you can use <code>.avatar-{sm|lg}</code> helper classes</p>

          <!-- BEGIN Avatars -->
          <div class="avatar avatar-primary avatar-sm">
            <span class="avatar-display">A</span>
          </div>
          <div class="avatar avatar-primary">
            <span class="avatar-display">B</span>
          </div>
          <div class="avatar avatar-primary avatar-lg">
            <span class="avatar-display">C</span>
          </div>
          <div class="avatar avatar-primary avatar-circle avatar-sm">
            <span class="avatar-display">A</span>
          </div>
          <div class="avatar avatar-primary avatar-circle">
            <span class="avatar-display">B</span>
          </div>
          <div class="avatar avatar-primary avatar-circle avatar-lg">
            <span class="avatar-display">C</span>
          </div>
          <!-- END Avatars -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Group</h3>
        </div>
        <div class="portlet-body">
          <p>Wrap a series of avatar elements into <code>.avatar-group</code> to group the elements. Instead of applying avatar sizing classes to every avatar in a group, just add <code>.avatar-group-{lg|sm}</code> to each <code>.avatar-group</code></p>

          <!-- BEGIN Avatar Group -->
          <div class="avatar-group avatar-group-sm">
            <div class="avatar avatar-circle avatar-primary">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-secondary">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-success">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-danger">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
          </div>
          <!-- END Avatar Group -->

          <!-- BEGIN Avatar Group -->
          <div class="avatar-group">
            <div class="avatar avatar-circle avatar-primary">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-secondary">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-success">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-danger">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
          </div>
          <!-- END Avatar Group -->

          <!-- BEGIN Avatar Group -->
          <div class="avatar-group avatar-group-lg">
            <div class="avatar avatar-circle avatar-primary">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-secondary">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-success">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="avatar avatar-circle avatar-danger">
              <div class="avatar-display">
                <i class="fa fa-user"></i>
              </div>
            </div>
          </div>
          <!-- END Avatar Group -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Contextual colors</h3>
        </div>
        <div class="portlet-body">
          <p>Change avatar color for functionality, check examples below.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Solid</h3>
            </div>
            <div class="portlet-body">
              <p>You can use these by extending <code>.avatar-{color}</code> class to avatar element</p>

              <!-- BEGIN Avatars -->
              <div class="avatar avatar-primary">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-secondary">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-info">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-success">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-warning">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-danger">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-light">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-dark">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <!-- END Avatars -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet mb-0">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Label</h3>
            </div>
            <div class="portlet-body">
              <p>You can use these by extending <code>.avatar-label-{color}</code> class to avatar element</p>

              <!-- BEGIN Avatars -->
              <div class="avatar avatar-label-primary">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-label-secondary">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-label-info">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-label-success">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-label-warning">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-label-danger">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-label-light">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="avatar avatar-label-dark">
                <div class="avatar-display">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <!-- END Avatars -->

            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Addon</h3>
        </div>
        <div class="portlet-body">
          <p>Addon can be replaced to <strong>top-start</strong> or <strong>bottom-end</strong> of avatar element. Use <code>.avatar-addon</code> and extend with <code>.avatar-addon-{top|bottom}</code> to set placement. You can put <a href="{{ 'elements/base/badge.html' | url }}">badge</a> or <a href="{{ 'elements/base/marker.html' | url }}">marker</a> into avatar addon.</p>

          <!-- BEGIN Avatars -->
          <div class="avatar avatar-primary">
            <div class="avatar-addon avatar-addon-top">
              <i class="marker marker-dot text-success"></i>
            </div>
            <div class="avatar-display">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="avatar avatar-primary">
            <div class="avatar-display">
              <i class="fa fa-user"></i>
            </div>
            <div class="avatar-addon avatar-addon-bottom">
              <i class="marker marker-dot text-success"></i>
            </div>
          </div>
          <div class="avatar avatar-circle avatar-primary">
            <div class="avatar-addon avatar-addon-top">
              <div class="avatar-icon avatar-icon-danger">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="avatar-display">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="avatar avatar-circle avatar-primary">
            <div class="avatar-display">
              <i class="fa fa-user"></i>
            </div>
            <div class="avatar-addon avatar-addon-bottom">
              <div class="avatar-icon avatar-icon-success">
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="avatar avatar-primary">
            <div class="avatar-addon avatar-addon-top">
              <span class="badge badge-danger rounded-pill avatar-badge">9+</span>
            </div>
            <div class="avatar-display">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="avatar avatar-primary">
            <div class="avatar-display">
              <i class="fa fa-user"></i>
            </div>
            <div class="avatar-addon avatar-addon-bottom">
              <span class="badge badge-success rounded-pill avatar-badge">9+</span>
            </div>
          </div>
          <!-- END Avatars -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
