{% extends "components/template.njk" %}

{% set page_title = "Grid Nav" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Advanced" },
  { text: "Grid Nav", link: "elements/advanced/grid-nav.html" | url }
] %}

{% block content %}
  <div class="row">
    <div class="col-12">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Variations</h3>
        </div>
        <div class="portlet-body">
          <p><strong>Grid Nav</strong> has 3 versions of the border, like example below</p>

          <!-- BEGIN Row -->
          <div class="row g-3">
            <div class="col-md-4">

              <!-- BEGIN Portlet -->
              <div class="portlet mb-0">
                <div class="portlet-header portlet-header-bordered">
                  <h3 class="portlet-title">Basic</h3>
                </div>
                <div class="portlet-body">
                  <p>Default version of grid navigation</p>

                  <!-- BEGIN Grid Nav -->
                  <div class="grid-nav">
                    <div class="grid-nav-row">
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-address-card"></i>
                        </div>
                        <span class="grid-nav-content">Profile</span>
                      </div>
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-comments"></i>
                        </div>
                        <span class="grid-nav-content">Messages</span>
                      </div>
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-clone"></i>
                        </div>
                        <span class="grid-nav-content">Activities</span>
                      </div>
                    </div>
                  </div>
                  <!-- END Grid Nav -->

                </div>
              </div>
              <!-- END Portlet -->

            </div>
            <div class="col-md-4">

              <!-- BEGIN Portlet -->
              <div class="portlet mb-0">
                <div class="portlet-header portlet-header-bordered">
                  <h3 class="portlet-title">Flush</h3>
                </div>
                <div class="portlet-body">
                  <p>Add <code>.grid-nav-flush</code> to default grid navigation to appear like below</p>

                  <!-- BEGIN Grid Nav -->
                  <div class="grid-nav grid-nav-flush">
                    <div class="grid-nav-row">
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-address-card"></i>
                        </div>
                        <span class="grid-nav-content">Profile</span>
                      </div>
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-comments"></i>
                        </div>
                        <span class="grid-nav-content">Messages</span>
                      </div>
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-clone"></i>
                        </div>
                        <span class="grid-nav-content">Activities</span>
                      </div>
                    </div>
                  </div>
                  <!-- END Grid Nav -->

                </div>
              </div>
              <!-- END Portlet -->

            </div>
            <div class="col-md-4">

              <!-- BEGIN Portlet -->
              <div class="portlet mb-0">
                <div class="portlet-header portlet-header-bordered">
                  <h3 class="portlet-title">Bordered</h3>
                </div>
                <div class="portlet-body">
                  <p>Add <code>.grid-nav-bordered</code> to default grid navigation to appear like below</p>

                  <!-- BEGIN Grid Nav -->
                  <div class="grid-nav grid-nav-bordered">
                    <div class="grid-nav-row">
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-address-card"></i>
                        </div>
                        <span class="grid-nav-content">Profile</span>
                      </div>
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-comments"></i>
                        </div>
                        <span class="grid-nav-content">Messages</span>
                      </div>
                      <div class="grid-nav-item">
                        <div class="grid-nav-icon">
                          <i class="far fa-clone"></i>
                        </div>
                        <span class="grid-nav-content">Activities</span>
                      </div>
                    </div>
                  </div>
                  <!-- END Grid Nav -->

                </div>
              </div>
              <!-- END Portlet -->

            </div>
          </div>
          <!-- END Row -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">More content</h3>
        </div>
        <div class="portlet-body">
          <p>You can add multiple rows and more content by using <code>.grid-nav-title</code> and <code>.grid-nav-subtitle</code></p>

          <!-- BEGIN Grid Nav -->
          <div class="grid-nav grid-nav-bordered">
            <div class="grid-nav-row">
              <div class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-address-card"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Profile</h3>
                  <span class="grid-nav-subtitle">Edit your profile</span>
                </div>
              </div>
              <div class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-comments"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Messages</h3>
                  <span class="grid-nav-subtitle">Check new messages</span>
                </div>
              </div>
              <div class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-clone"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Activities</h3>
                  <span class="grid-nav-subtitle">Show last activity</span>
                </div>
              </div>
            </div>
            <div class="grid-nav-row">
              <div class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-calendar-check"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Tasks</h3>
                  <span class="grid-nav-subtitle">Remind my tasks</span>
                </div>
              </div>
              <div class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-sticky-note"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Notes</h3>
                  <span class="grid-nav-subtitle">Show my notes</span>
                </div>
              </div>
              <div class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-bell"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Notification</h3>
                  <span class="grid-nav-subtitle">Check all notification</span>
                </div>
              </div>
            </div>
          </div>
          <!-- END Grid Nav -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Action</h3>
        </div>
        <div class="portlet-body">
          <p><code>.grid-nav-item</code> class is support for <code>{{ "<a>" }}</code>. Apply hover and focus states by adding <code>.grid-nav-action</code>. Use <code>.active</code> to appear clicked effect to individual link and use <code>.disabled</code> for disabled appearance.</p>

          <!-- BEGIN Grid Nav -->
          <div class="grid-nav grid-nav-bordered grid-nav-action">
            <div class="grid-nav-row">
              <a href="#" class="grid-nav-item active">
                <div class="grid-nav-icon">
                  <i class="far fa-address-card"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Profile</h3>
                  <span class="grid-nav-subtitle">Edit your profile</span>
                </div>
              </a>
              <a href="#" class="grid-nav-item disabled">
                <div class="grid-nav-icon">
                  <i class="far fa-comments"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Messages</h3>
                  <span class="grid-nav-subtitle">Check new messages</span>
                </div>
              </a>
              <a href="#" class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-clone"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Activities</h3>
                  <span class="grid-nav-subtitle">Show last activity</span>
                </div>
              </a>
            </div>
            <div class="grid-nav-row">
              <a href="#" class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-calendar-check"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Tasks</h3>
                  <span class="grid-nav-subtitle">Remind my tasks</span>
                </div>
              </a>
              <a href="#" class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-sticky-note"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Notes</h3>
                  <span class="grid-nav-subtitle">Show my notes</span>
                </div>
              </a>
              <a href="#" class="grid-nav-item">
                <div class="grid-nav-icon">
                  <i class="far fa-bell"></i>
                </div>
                <div class="grid-nav-content">
                  <h3 class="grid-nav-title">Notification</h3>
                  <span class="grid-nav-subtitle">Check all notification</span>
                </div>
              </a>
            </div>
          </div>
          <!-- END Grid Nav -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
