{% extends "components/template.njk" %}

{% set page_title = "Rich List" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Advanced" },
  { text: "Rich List", link: "elements/advanced/rich-list.html" | url }
] %}

{% block content %}
  <div class="row">
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Basic</h3>
        </div>
        <div class="portlet-body">
          <p><strong>Rich list</strong> is a flexible and powerful component for displaying a series of content. Basic rich list has <code>.rich-list-item</code> where wrapping content or any elements.</p>

          <!-- BEGIN Rich List -->
          <div class="rich-list">
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">Porta</h4>
                <span class="rich-list-subtitle">Cras justo odio</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">Consectetur</h4>
                <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">Vestibulum</h4>
                <span class="rich-list-subtitle">Morbi leo risus</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Border variants</h3>
        </div>
        <div class="portlet-body">
          <p>By default, rich list component has 2 border versions, like the examples below.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Flush</h3>
            </div>
            <div class="portlet-body">
              <p>Extend basic rich list with <code>.rich-list-flush</code> to appear like below.</p>

              <!-- BEGIN Rich List -->
              <div class="rich-list rich-list-flush">
                <div class="rich-list-item">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar">
                      <div class="avatar-display">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Porta</h4>
                    <span class="rich-list-subtitle">Cras justo odio</span>
                  </div>
                  <div class="rich-list-append">
                    <i class="caret mx-2"></i>
                  </div>
                </div>
                <div class="rich-list-item">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar">
                      <div class="avatar-display">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Consectetur</h4>
                    <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
                  </div>
                  <div class="rich-list-append">
                    <span class="badge badge-success">9+</span>
                  </div>
                </div>
                <div class="rich-list-item">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar">
                      <div class="avatar-display">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Vestibulum</h4>
                    <span class="rich-list-subtitle">Morbi leo risus</span>
                  </div>
                  <div class="rich-list-append">
                    <span class="badge badge-primary">new</span>
                  </div>
                </div>
              </div>
              <!-- END Rich List -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet mb-0">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Bordered</h3>
            </div>
            <div class="portlet-body">
              <p>Extend basic rich list with <code>.rich-list-bordered</code> to appear like below.</p>

              <!-- BEGIN Rich List -->
              <div class="rich-list rich-list-bordered">
                <div class="rich-list-item">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar">
                      <div class="avatar-display">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Porta</h4>
                    <span class="rich-list-subtitle">Cras justo odio</span>
                  </div>
                  <div class="rich-list-append">
                    <i class="caret mx-2"></i>
                  </div>
                </div>
                <div class="rich-list-item">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar">
                      <div class="avatar-display">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Consectetur</h4>
                    <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
                  </div>
                  <div class="rich-list-append">
                    <span class="badge badge-success">9+</span>
                  </div>
                </div>
                <div class="rich-list-item">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar">
                      <div class="avatar-display">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Vestibulum</h4>
                    <span class="rich-list-subtitle">Morbi leo risus</span>
                  </div>
                  <div class="rich-list-append">
                    <span class="badge badge-primary">new</span>
                  </div>
                </div>
              </div>
              <!-- END Rich List -->

            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Addon</h3>
        </div>
        <div class="portlet-body">
          <p>Put other elements inside rich list within <code>.rich-list-{prepend|append}</code></p>

          <!-- BEGIN Rich List -->
          <div class="rich-list">
            <div class="rich-list-item">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar">
                  <div class="avatar-display">
                    <i class="fa fa-cog"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Porta</h4>
                <span class="rich-list-subtitle">Cras justo odio</span>
              </div>
              <div class="rich-list-append">
                <i class="caret mx-2"></i>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar avatar-success avatar-circle">
                  <div class="avatar-display">
                    <i class="fa fa-wrench"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Consectetur</h4>
                <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
              </div>
              <div class="rich-list-append">
                <span class="badge badge-label-success">9+</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-prepend align-items-start">

                <!-- BEGIN Avatar -->
                <div class="avatar avatar-label-primary">
                  <div class="avatar-display">
                    <i class="fa fa-paper-plane"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Vestibulum</h4>
                <span class="rich-list-subtitle">Morbi leo risus</span>
                <p class="rich-list-paragraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="rich-list-append">
                <span class="badge badge-primary">new</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Action</h3>
        </div>
        <div class="portlet-body">
          <p>If you want to make your rich list has clickable behavior, you must add <code>.rich-list-action</code>.</p>

          <!-- BEGIN Rich List -->
          <div class="rich-list rich-list-bordered rich-list-action">
            <a href="#" class="rich-list-item">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar">
                  <div class="avatar-display">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Porta</h4>
                <span class="rich-list-subtitle">Cras justo odio</span>
              </div>
              <div class="rich-list-append">
                <i class="caret mx-2"></i>
              </div>
            </a>
            <a href="#" class="rich-list-item">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar">
                  <div class="avatar-display">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Consectetur</h4>
                <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
              </div>
              <div class="rich-list-append">
                <span class="badge badge-success">9+</span>
              </div>
            </a>
            <a href="#" class="rich-list-item">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar">
                  <div class="avatar-display">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Vestibulum</h4>
                <span class="rich-list-subtitle">Morbi leo risus</span>
              </div>
              <div class="rich-list-append">
                <span class="badge badge-primary">new</span>
              </div>
            </a>
          </div>
          <!-- END Rich List -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">States</h3>
        </div>
        <div class="portlet-body">
          <p>We provide active and disabled states for <code>.rich-list-item</code>, look the example</p>

          <!-- BEGIN Rich List -->
          <div class="rich-list rich-list-bordered rich-list-action">
            <a href="#" class="rich-list-item active">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar">
                  <div class="avatar-display">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Active state</h4>
                <span class="rich-list-subtitle">Cras justo odio</span>
              </div>
              <div class="rich-list-append">
                <i class="caret mx-2"></i>
              </div>
            </a>
            <a href="#" class="rich-list-item disabled">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar">
                  <div class="avatar-display">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Disabled state</h4>
                <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
              </div>
              <div class="rich-list-append">
                <span class="badge badge-success">9+</span>
              </div>
            </a>
            <a href="#" class="rich-list-item">
              <div class="rich-list-prepend">

                <!-- BEGIN Avatar -->
                <div class="avatar">
                  <div class="avatar-display">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <!-- END Avatar -->

              </div>
              <div class="rich-list-content">
                <h4 class="rich-list-title">Vestibulum</h4>
                <span class="rich-list-subtitle">Morbi leo risus</span>
              </div>
              <div class="rich-list-append">
                <span class="badge badge-primary">new</span>
              </div>
            </a>
          </div>
          <!-- END Rich List -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
