{% extends "components/template.njk" %}

{% set page_title = "Sortable" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Advanced" },
  { text: "Sortable", link: "elements/advanced/sortable.html" | url }
] %}
{% set js_links = [
  "assets/app/pages/elements/sortable.js" | url
] %}

{% block content %}
  <div class="row">
    <div class="col-12">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-body">
          <p class="mb-0"><strong>SortableJS</strong> is javascript library for reorderable drag-and-drop lists. Check other example on <a href="http://sortablejs.github.io/Sortable" target="_blank">Sortable's page</a></p>
        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Basic</h3>
        </div>
        <div class="portlet-body">

          <!-- BEGIN Sortable -->
          <div class="sortable rich-list-bordered" id="sortable-1">
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 1</h4>
                  <span class="rich-list-subtitle">Cras justo odio</span>
                </div>
              </div>
            </div>
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 2</h4>
                  <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
                </div>
              </div>
            </div>
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 3</h4>
                  <span class="rich-list-subtitle">Morbi leo risus</span>
                </div>
              </div>
            </div>
          </div>
          <!-- END Sortable -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Handle</h3>
        </div>
        <div class="portlet-body">
          <p>You can only drag the items on the handle</p>

          <!-- BEGIN Sortable -->
          <div class="sortable rich-list-bordered" id="sortable-2">
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-prepend">
                  <div class="sortable-handle">
                    <i class="fa fa-sort"></i>
                  </div>
                </div>
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 1</h4>
                  <span class="rich-list-subtitle">Cras justo odio</span>
                </div>
              </div>
            </div>
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-prepend">
                  <div class="sortable-handle">
                    <i class="fa fa-sort"></i>
                  </div>
                </div>
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 2</h4>
                  <span class="rich-list-subtitle">Dapibus ac facilisis in</span>
                </div>
              </div>
            </div>
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-prepend">
                  <div class="sortable-handle">
                    <i class="fa fa-sort"></i>
                  </div>
                </div>
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 3</h4>
                  <span class="rich-list-subtitle">Morbi leo risus</span>
                </div>
              </div>
            </div>
          </div>
          <!-- END Sortable -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Shared lists</h3>
        </div>
        <div class="portlet-body">

          <!-- BEGIN Row -->
          <div class="row">
            <div class="col-6">

              <!-- BEGIN Sortable -->
              <div class="sortable rich-list rich-list-bordered" id="sortable-3-start">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 3</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Sortable -->

            </div>
            <div class="col-6">

              <!-- BEGIN Sortable -->
              <div class="sortable rich-list rich-list-bordered" id="sortable-3-end">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 3</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Sortable -->

            </div>
          </div>
          <!-- END Row -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Cloning</h3>
        </div>
        <div class="portlet-body">
          <p>Try dragging from one list to another. The item you drag will be cloned and the clone will stay in the original list.</p>

          <!-- BEGIN Row -->
          <div class="row">
            <div class="col-6">

              <!-- BEGIN Sortable -->
              <div class="sortable rich-list rich-list-bordered" id="sortable-4-start">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 3</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Sortable -->

            </div>
            <div class="col-6">

              <!-- BEGIN Sortable -->
              <div class="sortable rich-list rich-list-bordered" id="sortable-4-end">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 3</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Sortable -->

            </div>
          </div>
          <!-- END Row -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Disabled sorting</h3>
        </div>
        <div class="portlet-body">
          
          <!-- BEGIN Row -->
          <div class="row">
            <div class="col-6">

              <!-- BEGIN Sortable -->
              <div class="sortable rich-list rich-list-bordered" id="sortable-5-start">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-success">List 3</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Sortable -->

            </div>
            <div class="col-6">

              <!-- BEGIN Sortable -->
              <div class="sortable rich-list rich-list-bordered" id="sortable-5-end">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title text-danger">List 3</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Sortable -->

            </div>
          </div>
          <!-- END Row -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Nested</h3>
        </div>
        <div class="portlet-body">

          <!-- BEGIN Sortable -->
          <div class="sortable rich-list-bordered" id="sortable-6">
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 1</h4>
                  <span class="rich-list-subtitle">Subtitle</span>
                </div>
              </div>

              <!-- BEGIN Sortable -->
              <div class="sortable">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title">List 1.1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title">List 1.2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Sortable -->

            </div>
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 2</h4>
                  <span class="rich-list-subtitle">Subtitle</span>
                </div>
              </div>

              <!-- BEGIN Sortable -->
              <div class="sortable">
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title">List 2.1</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>
                <div class="sortable-item">
                  <div class="rich-list-item">
                    <div class="rich-list-content">
                      <h4 class="rich-list-title">List 2.2</h4>
                      <span class="rich-list-subtitle">Subtitle</span>
                    </div>
                  </div>
                </div>

                <!-- BEGIN Sortable -->
                <div class="sortable">
                  <div class="sortable-item">
                    <div class="rich-list-item">
                      <div class="rich-list-content">
                        <h4 class="rich-list-title">List 2.2.1</h4>
                        <span class="rich-list-subtitle">Subtitle</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END Sortable -->

              </div>
              <!-- END Sortable -->

            </div>
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 3</h4>
                  <span class="rich-list-subtitle">Subtitle</span>
                </div>
              </div>
            </div>
            <div class="sortable-item">
              <div class="rich-list-item">
                <div class="rich-list-content">
                  <h4 class="rich-list-title">List 4</h4>
                  <span class="rich-list-subtitle">Subtitle</span>
                </div>
              </div>
            </div>
          </div>
          <!-- END Sortable -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
