{% extends "components/template.njk" %}

{% set page_title = "Button" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Base" },
  { text: "Button", link: "elements/base/button.html" | url }
] %}

{% block content %}
  <div class="row">
    <div class="col-12">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Variants</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>The <code>.btn</code> classes are designed to be used with the <code>&lt;button&gt;</code> element. However, you can also use these classes on <code>&lt;a&gt;</code> or <code>&lt;input&gt;</code> elements (though some browsers may apply a slightly different rendering).</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Solid</h3>
            </div>
            <div class="portlet-body">
              <p>These is a standard button variant, you can use these by extending <code>.btn-{color}</code> classes</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-primary">Primary</button>
              <button class="btn btn-secondary">Secondary</button>
              <button class="btn btn-success">Success</button>
              <button class="btn btn-warning">Warning</button>
              <button class="btn btn-danger">Danger</button>
              <button class="btn btn-info">Info</button>
              <button class="btn btn-dark">Dark</button>
              <button class="btn btn-light">Light</button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Outline</h3>
            </div>
            <div class="portlet-body">
              <p>Replace the default modifier classes with the <code>.btn-outline-{color}</code> to apply these variants</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-outline-primary">Primary</button>
              <button class="btn btn-outline-secondary">Secondary</button>
              <button class="btn btn-outline-success">Success</button>
              <button class="btn btn-outline-warning">Warning</button>
              <button class="btn btn-outline-danger">Danger</button>
              <button class="btn btn-outline-info">Info</button>
              <button class="btn btn-outline-dark">Dark</button>
              <button class="btn btn-outline-light">Light</button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Flat</h3>
            </div>
            <div class="portlet-body">
              <p>Replace the default modifier classes with the <code>.btn-flat-{color}</code> to apply these variants</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-flat-primary">Primary</button>
              <button class="btn btn-flat-secondary">Secondary</button>
              <button class="btn btn-flat-success">Success</button>
              <button class="btn btn-flat-warning">Warning</button>
              <button class="btn btn-flat-danger">Danger</button>
              <button class="btn btn-flat-info">Info</button>
              <button class="btn btn-flat-dark">Dark</button>
              <button class="btn btn-flat-light">Light</button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Label</h3>
            </div>
            <div class="portlet-body">
              <p>Replace the default modifier classes with the <code>.btn-label-{color}</code> to apply these variants</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-label-primary">Primary</button>
              <button class="btn btn-label-secondary">Secondary</button>
              <button class="btn btn-label-success">Success</button>
              <button class="btn btn-label-warning">Warning</button>
              <button class="btn btn-label-danger">Danger</button>
              <button class="btn btn-label-info">Info</button>
              <button class="btn btn-label-dark">Dark</button>
              <button class="btn btn-label-light">Light</button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Text</h3>
            </div>
            <div class="portlet-body">
              <p>Replace the default modifier classes with the <code>.btn-text-{color}</code> to apply these variants</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-text-primary">Primary</button>
              <button class="btn btn-text-secondary">Secondary</button>
              <button class="btn btn-text-success">Success</button>
              <button class="btn btn-text-warning">Warning</button>
              <button class="btn btn-text-danger">Danger</button>
              <button class="btn btn-text-info">Info</button>
              <button class="btn btn-text-dark">Dark</button>
              <button class="btn btn-text-light">Light</button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
  <div class="row">
    <div class="col-md-7">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Pill buttons</h3>
        </div>
        <div class="portlet-body">
          <p>Extend button class with <code>.rounded-pill</code> to make the button more rounded.</p>

          <!-- BEGIN Buttons -->
          <button class="btn btn-label-primary rounded-pill">Primary</button>
          <button class="btn btn-label-secondary rounded-pill">Secondary</button>
          <button class="btn btn-outline-success rounded-pill">Success</button>
          <button class="btn btn-outline-warning rounded-pill">Warning</button>
          <button class="btn btn-flat-danger rounded-pill">Danger</button>
          <button class="btn btn-flat-info rounded-pill">Info</button>
          <button class="btn btn-dark rounded-pill">Dark</button>
          <button class="btn btn-light rounded-pill">Light</button>
          <!-- END Buttons -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Sizing</h3>
        </div>
        <div class="portlet-body">
          <p>Make your button larger or smaller by adding <code>.btn-lg</code> or <code>.btn-sm</code> classes to button.</p>

          <!-- BEGIN Buttons -->
          <button class="btn btn-primary btn-sm">Smaller</button>
          <button class="btn btn-secondary">Default</button>
          <button class="btn btn-success btn-lg">Larger</button>
          <button class="btn btn-dark rounded-pill btn-sm">Smaller</button>
          <button class="btn btn-success rounded-pill">Default</button>
          <button class="btn btn-info rounded-pill btn-lg">Larger</button>
          <button class="btn btn-warning btn-icon btn-sm">
            <i class="fa fa-star"></i>
          </button>
          <button class="btn btn-danger btn-icon">
            <i class="fa fa-cog"></i>
          </button>
          <button class="btn btn-info btn-icon btn-lg">
            <i class="fa fa-wrench"></i>
          </button>
          <button class="btn btn-warning btn-icon btn-circle btn-sm">
            <i class="fa fa-rocket"></i>
          </button>
          <button class="btn btn-danger btn-icon btn-circle">
            <i class="fa fa-anchor"></i>
          </button>
          <button class="btn btn-info btn-icon btn-circle btn-lg">
            <i class="fa fa-check"></i>
          </button>
          <!-- END Buttons -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Taller, wider and block</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>You can't use the classes below together with <code>.btn-icon</code></p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Wide</h3>
            </div>
            <div class="portlet-body">
              <p>Add <code>.btn-{wide|wider|widest}</code> to make your button wider.</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-primary btn-wide">Wide</button>
              <button class="btn btn-primary btn-wider">Wider</button>
              <button class="btn btn-primary btn-widest">Widest</button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Tall</h3>
            </div>
            <div class="portlet-body">
              <p>Add <code>.btn-{tall|taller|tallest}</code> to make your button taller.</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-primary btn-tall">Tall</button>
              <button class="btn btn-primary btn-taller">Taller</button>
              <button class="btn btn-primary btn-tallest">Tallest</button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Block</h3>
            </div>
            <div class="portlet-body">
              <p>Create responsive stacks of full-width, “block buttons” like those in Bootstrap 4 with a mix of our display and gap utilities.</p>

              <!-- BEGIN Buttons -->
              <div class="d-grid gap-2">
                <button class="btn btn-primary">Block</button>
                <button class="btn btn-label-primary">Block</button>
              </div>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
    <div class="col-md-5">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header">
          <h3 class="portlet-title">Button icon</h3>
        </div>
        <div class="portlet-body pb-0">

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Square buttons</h3>
            </div>
            <div class="portlet-body">
              <p>If you need square button with an icon inside, you can use <code>.btn-icon</code> and combine with button variant classes.</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-secondary btn-icon">
                <i data-feather="anchor"></i>
              </button>
              <button class="btn btn-outline-success btn-icon">
                <i data-feather="archive"></i>
              </button>
              <button class="btn btn-outline-warning btn-icon">
                <i data-feather="camera"></i>
              </button>
              <button class="btn btn-outline-info btn-icon">
                <i data-feather="eye"></i>
              </button>
              <button class="btn btn-primary btn-icon">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-label-danger btn-icon">
                <i class="fa fa-wrench"></i>
              </button>
              <button class="btn btn-label-info btn-icon">
                <i class="fa fa-cog"></i>
              </button>
              <button class="btn btn-flat-primary btn-icon">
                <i class="fa fa-bars"></i>
              </button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Circle buttons</h3>
            </div>
            <div class="portlet-body">
              <p>Make your icon buttons circular by extending <code>.btn-icon</code> with <code>.btn-circle</code> modifier class.</p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-secondary btn-icon btn-circle">
                <i data-feather="anchor"></i>
              </button>
              <button class="btn btn-outline-success btn-icon btn-circle">
                <i data-feather="archive"></i>
              </button>
              <button class="btn btn-outline-warning btn-icon btn-circle">
                <i data-feather="camera"></i>
              </button>
              <button class="btn btn-outline-info btn-icon btn-circle">
                <i data-feather="eye"></i>
              </button>
              <button class="btn btn-primary btn-icon btn-circle">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-label-danger btn-icon btn-circle">
                <i class="fa fa-wrench"></i>
              </button>
              <button class="btn btn-label-info btn-icon btn-circle">
                <i class="fa fa-cog"></i>
              </button>
              <button class="btn btn-flat-primary btn-icon btn-circle">
                <i class="fa fa-bars"></i>
              </button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Icon with text</h3>
            </div>
            <div class="portlet-body">
              <p>If you want to use icon with text, you don't need to apply <code>.btn-icon</code></p>

              <!-- BEGIN Buttons -->
              <button class="btn btn-primary">
                <i data-feather="eye" class="me-2"></i>
                Button
              </button>
              <button class="btn btn-label-info">
                Button
                <i data-feather="camera" class="ms-2"></i>
              </button>
              <button class="btn btn-outline-danger">
                <i class="fa fa-cog me-2"></i>
                Button
              </button>
              <button class="btn btn-flat-success">
                Button
                <i class="fa fa-check ms-2"></i>
              </button>
              <!-- END Buttons -->

            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">States</h3>
        </div>
        <div class="portlet-body">
          <p>Add <code>.active</code> or <code>.disabled</code> for the active or inactive button appearance.</p>

          <!-- BEGIN Buttons -->
          <button class="btn btn-primary active">Active</button>
          <button class="btn btn-primary disabled">Disabled</button>
          <!-- END Buttons -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Addon</h3>
        </div>
        <div class="portlet-body">
          <p>You can add a counter or marker to button by adding <code>.btn-{marker|counter}</code> and combine with <a href="{{ 'elements/base/badge.html' | url }}">badge</a> or <a href="{{ 'elements/base/marker.html' | url }}">marker</a> component.</p>

          <!-- BEGIN Buttons -->
          <button class="btn btn-primary">
            Button
            <div class="btn-marker">
              <span class="badge badge-secondary btn-counter">12</span>
            </div>
          </button>
          <button class="btn btn-primary">
            Button
            <div class="btn-marker">
              <span class="badge badge-secondary rounded-pill btn-counter">12</span>
            </div>
          </button>
          <button class="btn btn-primary">
            Button
            <div class="btn-marker">
              <i class="marker marker-dot text-success"></i>
            </div>
          </button>
          <button class="btn btn-primary btn-icon">
            <i class="fa fa-cog"></i>
            <div class="btn-marker">
              <span class="badge badge-secondary btn-counter">12</span>
            </div>
          </button>
          <button class="btn btn-primary btn-icon">
            <i class="fa fa-star"></i>
            <div class="btn-marker">
              <span class="badge badge-secondary rounded-pill btn-counter">12</span>
            </div>
          </button>
          <button class="btn btn-primary btn-icon">
            <i class="fa fa-wrench"></i>
            <div class="btn-marker">
              <i class="marker marker-dot text-success"></i>
            </div>
          </button>
          <!-- END Buttons -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
