{% extends "components/template.njk" %}

{% set page_title = "Typography" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Base" },
  { text: "Typography", link: "elements/base/type.html" | url }
] %}

{% block content %}
  <div class="row">
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Basic headings</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.</p>
          <p><code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body">
              <h1>Heading 1</h1>
              <h2>Heading 2</h2>
              <h3>Heading 3</h3>
              <h4>Heading 4</h4>
              <h5>Heading 5</h5>
              <h6>Heading 6</h6>
            </div>
          </div>
          <!-- END Portlet -->
          
          <p>Use the included utility classes to recreate the small secondary heading text</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body">
              <h3 class="text-level-3 mb-0">Fancy display heading
                <small class="text-muted">With faded secondary text</small>
              </h3>
            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Links</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>Links have a default <code>color</code> and underline applied. While links change on <code>:hover</code>, they don’t change based on whether someone <code>:visited</code> the link. They also receive no special <code>:focus</code> styles.</p>
          <p><a href="#">This is an example link</a></p>
          <p>Placeholder links—those without an <code>href</code>—are targeted with a more specific selector and have their <code>color</code> and <code>text-decoration</code> reset to their default values.</p>
          <p><a>This is a placeholder link</a></p>
        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Blockquote</h3>
        </div>
        <div class="portlet-body">
          <p>For quoting blocks of content from another source within your document. Wrap <code>&lt;blockquote class="blockquote"&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote.</p>
          
          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body pb-0">

              <!-- BEGIN Blockquote -->
              <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
              </blockquote>
              <!-- END Blockquote -->

              <!-- BEGIN Blockquote -->
              <figure>
                <blockquote class="blockquote">
                  <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
              </figure>
              <!-- END Blockquote -->

              <!-- BEGIN Blockquote -->
              <figure class="text-center">
                <blockquote class="blockquote">
                  <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
              </figure>
              <!-- END Blockquote -->

            </div>
          </div>
          <!-- END Portlet -->

          <p>The HTML spec requires that blockquote attribution be placed outside the <code>&lt;blockquote&gt;</code>. When providing attribution, wrap your <code>&lt;blockquote&gt;</code> in a <code>&lt;figure&gt;</code> and use a <code>&lt;figcaption&gt;</code> or a block level element (e.g., <code>&lt;p&gt;</code>) with the <code>.blockquote-footer</code> class. Be sure to wrap the name of the source work in <code>&lt;cite&gt;</code> as well.</p>
          <p class="mb-0">Use text utilities as needed to change the alignment of your blockquote.</p>
        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Lists</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>Remove the default <code>list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body pb-0">
              
              <!-- BEGIN List -->
              <ul class="list-unstyled">
                <li>This is a list.</li>
                <li>It appears completely unstyled.</li>
                <li>Structurally, it's still a list.</li>
                <li>However, this style only applies to immediate child elements.</li>
                <li>Nested lists:
                  <ul>
                    <li>are unaffected by this style</li>
                    <li>will still show a bullet</li>
                    <li>and have appropriate left margin</li>
                  </ul>
                </li>
                <li>This may still come in handy in some situations.</li>
              </ul>
              <!-- END List -->

            </div>
          </div>
          <!-- END Portlet -->

          <p>Remove a list’s bullets and apply some light <code>margin</code> with a combination of two classes, <code>.list-inline</code> and <code>.list-inline-item</code>.</p>
          
          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body pb-0">
              
              <!-- BEGIN List -->
              <ul class="list-inline">
                <li class="list-inline-item">This is a list item.</li>
                <li class="list-inline-item">And another one.</li>
                <li class="list-inline-item">But they're displayed inline.</li>
              </ul>
              <!-- END List -->

            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Abbreviations</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>Stylized implementation of HTML’s <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations have a default underline and gain a help cursor to provide additional context on hover and to users of assistive technologies.</p>
          <p>Add <code>.initialism</code> to an abbreviation for a slightly smaller font-size.</p>
          
          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body pb-0">
              <p><abbr title="attribute">attr</abbr></p>
              <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
    <div class="col-md-6">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Display headings</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a <strong>display heading</strong>—a larger, slightly more opinionated heading style.</p>
          
          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body">
              <h1 class="display-1">Display 1</h1>
              <h1 class="display-2">Display 2</h1>
              <h1 class="display-3">Display 3</h1>
              <h1 class="display-4">Display 4</h1>
              <h1 class="display-5">Display 5</h1>
              <h1 class="display-6">Display 6</h1>
            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Lead</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>Make a paragraph stand out by adding <code>.lead</code>.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body">
              <p class="lead mb-0">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Inline text styles</h3>
        </div>
        <div class="portlet-body">
          <p>Styling for common inline HTML5 elements.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body pb-0">
              <p>You can use the mark tag to <mark>highlight</mark> text.</p>
              <p><del>This line of text is meant to be treated as deleted text.</del></p>
              <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
              <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
              <p><u>This line of text will render as underlined.</u></p>
              <p><small>This line of text is meant to be treated as fine print.</small></p>
              <p><strong>This line rendered as bold text.</strong></p>
              <p><em>This line rendered as italicized text.</em></p>
            </div>
          </div>
          <!-- END Portlet -->

          <p>If you want to style your text, you should use the following classes instead:</p>

          <!-- BEGIN List -->
          <ul>
            <li><code>.mark</code> will apply the same styles as <code>&lt;mark&gt;</code>.</li>
            <li><code>.small</code> will apply the same styles as <code>&lt;small&gt;</code>.</li>
            <li><code>.text-decoration-underline</code> will apply the same styles as <code>&lt;u&gt;</code>.</li>
            <li><code>.text-decoration-line-through</code> will apply the same styles as <code>&lt;s&gt;</code>.</li>
          </ul>
          <!-- END List -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Description list alignment</h3>
        </div>
        <div class="portlet-body pb-0">
          <p>Align terms and descriptions horizontally by using our grid system’s predefined classes (or semantic mixins). For longer terms, you can optionally add a <code>.text-truncate</code> class to truncate the text with an ellipsis.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-body pb-0">

              <!-- BEGIN Description List -->
              <dl class="row">
                <dt class="col-sm-3">Description lists</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3">Term</dt>
                <dd class="col-sm-9">
                  <p>Definition for the term.</p>
                  <p>And some more placeholder definition text.</p>
                </dd>

                <dt class="col-sm-3">Another term</dt>
                <dd class="col-sm-9">This definition is short, so no extra paragraphs or anything.</dd>

                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                <dd class="col-sm-9">This can be useful when space is tight. Adds an ellipsis at the end.</dd>

                <dt class="col-sm-3">Nesting</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Nested definition list</dt>
                    <dd class="col-sm-8">I heard you like definition lists. Let me put a definition list inside your definition list.</dd>
                  </dl>
                </dd>
              </dl>
              <!-- END Description List -->

            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Summary</h3>
        </div>
        <div class="portlet-body">
          <p>The default <code>cursor</code> on summary is <code>text</code>, so we reset that to <code>pointer</code> to convey that the element can be interacted with by clicking on it.</p>
          <div>
            <details>
              <summary>Some details</summary>
              <p>More info about the details.</p>
            </details>
            <details>
              <summary>Even more details</summary>
              <p>Here are even more details about the details.</p>
            </details>
          </div>
        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
