{% extends "components/template.njk" %}

{% set page_title = "Feather" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Icons" },
  { text: "Feather", link: "icons/feather.html" | url }
] %}

{% block content %}
  <div class="row">
    <div class="col-12">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Feather icons</h3>
        </div>
        <div class="portlet-body">
          <p><strong>Feather icons</strong> are simply beautiful open source icons that you can use for your website. Check <a href="http://feathericons.com" target="_blank">Feather's page</a> for more information.</p>
          <hr>

          <div class="row">
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="alert-circle"></i>
                </div>
                <span class="widget18-text">alert-circle</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="align-center"></i>
                </div>
                <span class="widget18-text">align-center</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="align-justify"></i>
                </div>
                <span class="widget18-text">align-justify</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="anchor"></i>
                </div>
                <span class="widget18-text">anchor</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="archive"></i>
                </div>
                <span class="widget18-text">archive</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="arrow-down"></i>
                </div>
                <span class="widget18-text">arrow-down</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="arrow-up"></i>
                </div>
                <span class="widget18-text">arrow-up</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="arrow-left"></i>
                </div>
                <span class="widget18-text">arrow-left</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="arrow-right"></i>
                </div>
                <span class="widget18-text">arrow-right</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="at-sign"></i>
                </div>
                <span class="widget18-text">at-sign</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="bar-chart"></i>
                </div>
                <span class="widget18-text">bar-chart</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="battery"></i>
                </div>
                <span class="widget18-text">battery</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="clock"></i>
                </div>
                <span class="widget18-text">clock</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="cloud"></i>
                </div>
                <span class="widget18-text">cloud</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="code"></i>
                </div>
                <span class="widget18-text">code</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="columns"></i>
                </div>
                <span class="widget18-text">columns</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="copy"></i>
                </div>
                <span class="widget18-text">copy</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="check-square"></i>
                </div>
                <span class="widget18-text">check-square</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="bell"></i>
                </div>
                <span class="widget18-text">bell</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="book"></i>
                </div>
                <span class="widget18-text">book</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="bookmark"></i>
                </div>
                <span class="widget18-text">bookmark</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="camera"></i>
                </div>
                <span class="widget18-text">camera</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="cast"></i>
                </div>
                <span class="widget18-text">cast</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="clipboard"></i>
                </div>
                <span class="widget18-text">clipboard</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="credit-card"></i>
                </div>
                <span class="widget18-text">credit-card</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="crop"></i>
                </div>
                <span class="widget18-text">crop</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="database"></i>
                </div>
                <span class="widget18-text">database</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="dollar-sign"></i>
                </div>
                <span class="widget18-text">dollar-sign</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="download"></i>
                </div>
                <span class="widget18-text">download</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="edit"></i>
                </div>
                <span class="widget18-text">edit</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="eye"></i>
                </div>
                <span class="widget18-text">eye</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="grid"></i>
                </div>
                <span class="widget18-text">grid</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="hash"></i>
                </div>
                <span class="widget18-text">hash</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="headphones"></i>
                </div>
                <span class="widget18-text">headphones</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="home"></i>
                </div>
                <span class="widget18-text">home</span>
              </div>
              <!-- END Widget -->

            </div>
            <div class="col-md-2">

              <!-- BEGIN Widget -->
              <div class="widget18">
                <div class="widget18-icon">
                  <i data-feather="image"></i>
                </div>
                <span class="widget18-text">image</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
