{% extends "components/template.njk" %}

{% set page_title = "Font Awesome" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "index.html" | url, icon: '<i data-feather="home"></i>' },
  { text: "Icons" },
  { text: "Font awesome", link: "icons/fontawesome.html" | url }
] %}

{% block content %}
  <div class="row">
    <div class="col-12">

      <!-- BEGIN Portlet -->
      <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
          <h3 class="portlet-title">Font awesome</h3>
        </div>
        <div class="portlet-body">
          <p>Get icons on your website with <strong>Font Awesome</strong>, the web's most popular icon set and toolkit. For more info visit <a href="http://fontawesome.com" target="_blank">Font Awesome's page</a>.</p>

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Solid</h3>
            </div>
            <div class="portlet-body">
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-ad"></i>
                    </div>
                    <span class="widget18-text">ad</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-address-book"></i>
                    </div>
                    <span class="widget18-text">address-book</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-address-card"></i>
                    </div>
                    <span class="widget18-text">address-card</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-adjust"></i>
                    </div>
                    <span class="widget18-text">adjust</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-align-center"></i>
                    </div>
                    <span class="widget18-text">align-center</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-align-justify"></i>
                    </div>
                    <span class="widget18-text">align-justify</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-anchor"></i>
                    </div>
                    <span class="widget18-text">anchor</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-bug"></i>
                    </div>
                    <span class="widget18-text">bug</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-capsules"></i>
                    </div>
                    <span class="widget18-text">capsules</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-folder-open"></i>
                    </div>
                    <span class="widget18-text">folder-open</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-headphones"></i>
                    </div>
                    <span class="widget18-text">headphones</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-angle-down"></i>
                    </div>
                    <span class="widget18-text">angle-down</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-angle-left"></i>
                    </div>
                    <span class="widget18-text">angle-left</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-angle-right"></i>
                    </div>
                    <span class="widget18-text">angle-right</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-angle-up"></i>
                    </div>
                    <span class="widget18-text">angle-up</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-asterisk"></i>
                    </div>
                    <span class="widget18-text">asterisk</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-at"></i>
                    </div>
                    <span class="widget18-text">at</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-backward"></i>
                    </div>
                    <span class="widget18-text">backward</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-ban"></i>
                    </div>
                    <span class="widget18-text">ban</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-battery-half"></i>
                    </div>
                    <span class="widget18-text">battery-half</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-bell"></i>
                    </div>
                    <span class="widget18-text">bell</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-bezier-curve"></i>
                    </div>
                    <span class="widget18-text">bezier-curve</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-border-all"></i>
                    </div>
                    <span class="widget18-text">border-all</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-bullhorn"></i>
                    </div>
                    <span class="widget18-text">bullhorn</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-expand"></i>
                    </div>
                    <span class="widget18-text">expand</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-dice"></i>
                    </div>
                    <span class="widget18-text">dice</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-crop"></i>
                    </div>
                    <span class="widget18-text">crop</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-credit-card"></i>
                    </div>
                    <span class="widget18-text">credit-card</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-info"></i>
                    </div>
                    <span class="widget18-text">info</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fa fa-chart-pie"></i>
                    </div>
                    <span class="widget18-text">chart-pie</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Regular</h3>
            </div>
            <div class="portlet-body">
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-clipboard"></i>
                    </div>
                    <span class="widget18-text">clipboard</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-edit"></i>
                    </div>
                    <span class="widget18-text">edit</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-envelope"></i>
                    </div>
                    <span class="widget18-text">envelope</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-file"></i>
                    </div>
                    <span class="widget18-text">file</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-calendar"></i>
                    </div>
                    <span class="widget18-text">calendar</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-keyboard"></i>
                    </div>
                    <span class="widget18-text">keyboard</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-images"></i>
                    </div>
                    <span class="widget18-text">images</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-heart"></i>
                    </div>
                    <span class="widget18-text">heart</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-moon"></i>
                    </div>
                    <span class="widget18-text">moon</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-star"></i>
                    </div>
                    <span class="widget18-text">star</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-square"></i>
                    </div>
                    <span class="widget18-text">square</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-play-circle"></i>
                    </div>
                    <span class="widget18-text">play-circle</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-object-group"></i>
                    </div>
                    <span class="widget18-text">object-group</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-newspaper"></i>
                    </div>
                    <span class="widget18-text">newspaper</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-paper-plane"></i>
                    </div>
                    <span class="widget18-text">paper-plane</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-hand-rock"></i>
                    </div>
                    <span class="widget18-text">hand-rock</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-folder"></i>
                    </div>
                    <span class="widget18-text">folder</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-comments"></i>
                    </div>
                    <span class="widget18-text">comments</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-clone"></i>
                    </div>
                    <span class="widget18-text">clone</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-bell-slash"></i>
                    </div>
                    <span class="widget18-text">bell-slash</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-chart-bar"></i>
                    </div>
                    <span class="widget18-text">chart-bar</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-grin-alt"></i>
                    </div>
                    <span class="widget18-text">grin-alt</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-map"></i>
                    </div>
                    <span class="widget18-text">map</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-list-alt"></i>
                    </div>
                    <span class="widget18-text">list-alt</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-minus-square"></i>
                    </div>
                    <span class="widget18-text">minus-square</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-sticky-note"></i>
                    </div>
                    <span class="widget18-text">sticky-note</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-thumbs-up"></i>
                    </div>
                    <span class="widget18-text">thumbs-up</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-lightbulb"></i>
                    </div>
                    <span class="widget18-text">lightbulb</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-user-circle"></i>
                    </div>
                    <span class="widget18-text">user-circle</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="far fa-eye"></i>
                    </div>
                    <span class="widget18-text">eye</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
            </div>
          </div>
          <!-- END Portlet -->

          <!-- BEGIN Portlet -->
          <div class="portlet mb-0">
            <div class="portlet-header portlet-header-bordered">
              <h3 class="portlet-title">Brands</h3>
            </div>
            <div class="portlet-body">
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-amazon"></i>
                    </div>
                    <span class="widget18-text">amazon</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-airbnb"></i>
                    </div>
                    <span class="widget18-text">airbnb</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-android"></i>
                    </div>
                    <span class="widget18-text">android</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-apple"></i>
                    </div>
                    <span class="widget18-text">apple</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-blackberry"></i>
                    </div>
                    <span class="widget18-text">blackberry</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-app-store"></i>
                    </div>
                    <span class="widget18-text">app-store</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-bootstrap"></i>
                    </div>
                    <span class="widget18-text">bootstrap</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-cc-stripe"></i>
                    </div>
                    <span class="widget18-text">cc-stripe</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-cc-visa"></i>
                    </div>
                    <span class="widget18-text">cc-visa</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-chromecast"></i>
                    </div>
                    <span class="widget18-text">chromecast</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-css3"></i>
                    </div>
                    <span class="widget18-text">css3</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-discourse"></i>
                    </div>
                    <span class="widget18-text">discourse</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-dailymotion"></i>
                    </div>
                    <span class="widget18-text">dailymotion</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-deviantart"></i>
                    </div>
                    <span class="widget18-text">deviantart</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-drupal"></i>
                    </div>
                    <span class="widget18-text">drupal</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-firefox-browser"></i>
                    </div>
                    <span class="widget18-text">firefox-browser</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-git-alt"></i>
                    </div>
                    <span class="widget18-text">git-alt</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-github"></i>
                    </div>
                    <span class="widget18-text">github</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-gulp"></i>
                    </div>
                    <span class="widget18-text">gulp</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-linkedin"></i>
                    </div>
                    <span class="widget18-text">linkedin</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-maxcdn"></i>
                    </div>
                    <span class="widget18-text">maxcdn</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-opera"></i>
                    </div>
                    <span class="widget18-text">opera</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-paypal"></i>
                    </div>
                    <span class="widget18-text">paypal</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-patreon"></i>
                    </div>
                    <span class="widget18-text">patreon</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-php"></i>
                    </div>
                    <span class="widget18-text">php</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-python"></i>
                    </div>
                    <span class="widget18-text">python</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-playstation"></i>
                    </div>
                    <span class="widget18-text">playstation</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-youtube"></i>
                    </div>
                    <span class="widget18-text">youtube</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-wordpress"></i>
                    </div>
                    <span class="widget18-text">wordpress</span>
                  </div>
                  <!-- END Widget -->

                </div>
                <div class="col-md-2">

                  <!-- BEGIN Widget -->
                  <div class="widget18">
                    <div class="widget18-icon">
                      <i class="fab fa-xbox"></i>
                    </div>
                    <span class="widget18-text">xbox</span>
                  </div>
                  <!-- END Widget -->

                </div>
              </div>
            </div>
          </div>
          <!-- END Portlet -->

        </div>
      </div>
      <!-- END Portlet -->

    </div>
  </div>
{% endblock %}
