<!-- BEGIN Offcanvas -->
<div class="offcanvas offcanvas-end" id="offcanvas-settings">
	<div class="offcanvas-header">
		<h3 class="offcanvas-title">Settings</h3>
		<button class="btn btn-label-danger btn-icon" data-bs-dismiss="offcanvas">
			<i class="fa fa-times"></i>
		</button>
	</div>
	<div class="offcanvas-body" data-simplebar data-simplebar-direction="{{ direction }}">

		<!-- BEGIN Portlet -->
		<div class="portlet">
			<div class="portlet-header portlet-header-bordered">
				<div class="portlet-icon">
					<i class="fa fa-bolt"></i>
				</div>
				<h3 class="portlet-title">Performance</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Grid -->
				<div class="d-grid gap-3">
					
					<!-- BEGIN Widget -->
					<div class="widget4">
						<div class="widget4-group">
							<div class="widget4-display">
								<h6 class="widget4-subtitle">CPU Load</h6>
							</div>
							<div class="widget4-addon">
								<h6 class="widget4-subtitle text-info">60%</h6>
							</div>
						</div>

						<!-- BEGIN Progress -->
						<div class="progress progress-sm">
							<div class="progress-bar bg-info" style="width: 60%"></div>
						</div>
						<!-- END Progress -->

					</div>
					<!-- END Widget -->

					<!-- BEGIN Widget -->
					<div class="widget4">
						<div class="widget4-group">
							<div class="widget4-display">
								<h6 class="widget4-subtitle">CPU Temparature</h6>
							</div>
							<div class="widget4-addon">
								<h6 class="widget4-subtitle text-success">42°</h6>
							</div>
						</div>

						<!-- BEGIN Progress -->
						<div class="progress progress-sm">
							<div class="progress-bar bg-success" style="width: 30%"></div>
						</div>
						<!-- END Progress -->

					</div>
					<!-- END Widget -->

					<!-- BEGIN Widget -->
					<div class="widget4">
						<div class="widget4-group">
							<div class="widget4-display">
								<h6 class="widget4-subtitle">RAM Usage</h6>
							</div>
							<div class="widget4-addon">
								<h6 class="widget4-subtitle text-danger">6,532 MB</h6>
							</div>
						</div>

						<!-- BEGIN Progress -->
						<div class="progress progress-sm">
							<div class="progress-bar bg-danger" style="width: 80%"></div>
						</div>
						<!-- END Progress -->

					</div>
					<!-- END Widget -->
				
				</div>
				<!-- END Grid -->

			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet">
			<div class="portlet-header">
				<h3 class="portlet-title">Customer care</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Grid -->
				<div class="d-grid gap-1">
					
					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-1">
						<label class="form-check-label" for="offcanvas-setting-1">Enable notifications</label>
					</div>
					<!-- END Form Switch -->

					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-2" checked="checked">
						<label class="form-check-label" for="offcanvas-setting-2">Enable case tracking</label>
					</div>
					<!-- END Form Switch -->

					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-3">
						<label class="form-check-label" for="offcanvas-setting-3">Support portal</label>
					</div>
					<!-- END Form Switch -->
				
				</div>
				<!-- END Grid -->

			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet">
			<div class="portlet-header">
				<h3 class="portlet-title">Reports</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Grid -->
				<div class="d-grid gap-1">
					
					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-4">
						<label class="form-check-label" for="offcanvas-setting-4">Generate reports</label>
					</div>
					<!-- END Form Switch -->

					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-5" checked="checked">
						<label class="form-check-label" for="offcanvas-setting-5">Enable report export</label>
					</div>
					<!-- END Form Switch -->

					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-6">
						<label class="form-check-label" for="offcanvas-setting-6">Allow data</label>
					</div>
					<!-- END Form Switch -->
				
				</div>
				<!-- END Grid -->

			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet">
			<div class="portlet-header">
				<h3 class="portlet-title">Projects</h3>
			</div>
			<div class="portlet-body">

				<!-- BEGIN Grid -->
				<div class="d-grid gap-1">
					
					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-7">
						<label class="form-check-label" for="offcanvas-setting-7">Enable create projects</label>
					</div>
					<!-- END Form Switch -->

					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-8" checked="checked">
						<label class="form-check-label" for="offcanvas-setting-8">Enable custom projects</label>
					</div>
					<!-- END Form Switch -->

					<!-- BEGIN Form Switch -->
					<div class="form-check form-check-lg form-switch">
						<input type="checkbox" class="form-check-input" id="offcanvas-setting-9">
						<label class="form-check-label" for="offcanvas-setting-9">Enable project review</label>
					</div>
					<!-- END Form Switch -->
				
				</div>
				<!-- END Grid -->

			</div>
		</div>
		<!-- END Portlet -->

	</div>
</div>
<!-- END Offcanvas -->
