<!-- BEGIN Preload -->
<div class="preload">
  <div class="preload-dialog">

    <!-- BEGIN Spinner -->
    <div class="spinner-border text-primary preload-spinner"></div>
    <!-- END Spinner -->

  </div>
</div>
<!-- END Preload -->
