<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget8">
      <div class="widget8-content">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-info avatar-circle widget8-avatar">
          <div class="avatar-display">
            <i class="fa fa-dollar-sign"></i>
          </div>
        </div>
        <!-- END Avatar -->

        <h4 class="widget8-highlight">$23K</h4>
        <h6 class="widget8-title">Profit</h6>
        <span class="widget8-subtitle text-danger">
          <i class="fa fa-caret-down"></i>
          1.4%
        </span>
      </div>
    </div>
    <!-- END Widget -->

  </div>
</div>
<!-- END Portlet -->
