<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-list-alt"></i>
    </div>
    <h3 class="portlet-title">Lastest log</h3>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Portlet -->
    <div class="portlet h-100 mb-0">
      <div class="portlet-body">

        <!-- BEGIN Timeline -->
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-primary"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">12 new users registered</p>
                <span class="widget7-time">Just now</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-success"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">System shutdown <span class="badge badge-label-success">pending</span></p>
                <span class="widget7-time">2 mins</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-primary"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">New invoice received</p>
                <span class="widget7-time">3 mins</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-danger"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">New order received <span class="badge badge-label-danger">urgent</span></p>
                <span class="widget7-time">10 mins</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-warning"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">Production server down</p>
                <span class="widget7-time">1 hrs</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-info"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">System error <a href="#">check</a></p>
                <span class="widget7-time">2 hrs</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-secondary"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">DB overloaded 80%</p>
                <span class="widget7-time">5 hrs</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-pin">
              <i class="marker marker-dot text-success"></i>
            </div>
            <div class="timeline-content">

              <!-- BEGIN Widget -->
              <div class="widget7">
                <p class="widget7-text">Production server up</p>
                <span class="widget7-time">6 hrs</span>
              </div>
              <!-- END Widget -->

            </div>
          </div>
        </div>
        <!-- END Timeline -->

      </div>
    </div>
    <!-- END Portlet -->

  </div>
</div>
<!-- END Portlet -->
