<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget8">
      <div class="widget8-addon" data-bs-toggle="tooltip" data-bs-placement="right" title="New users for last month">
        <i class="fa fa-question"></i>
      </div>
      <div class="widget8-content">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-primary avatar-circle widget8-avatar">
          <div class="avatar-display">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <!-- END Avatar -->

        <h4 class="widget8-highlight">35.2K</h4>
        <h6 class="widget8-title">Users</h6>
        <span class="widget8-subtitle text-success">
          <i class="fa fa-caret-up"></i>
          0.2%
        </span>
      </div>
    </div>
    <!-- END Widget -->

  </div>
</div>
<!-- END Portlet -->
