<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">
    <h4 class="text-primary">New users</h4>
    <span class="text-muted">Last 6 months</span>

    <!-- BEGIN Chart -->
    <div class="widget-chart-9" data-chart-color="#2196f3" data-chart-label="Users" data-chart-series="640, 400, 760, 620, 980, 640"></div>
    <!-- END Chart -->

  </div>
</div>
<!-- END Portlet -->
