<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <h3 class="portlet-title">Monthly profit</h3>
    <div class="portlet-addon">

      <!-- BEGIN Dropdown -->
      <div class="dropdown">
        <button class="btn btn-label-primary btn-icon" data-bs-toggle="dropdown">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-poll"></i>
            </div>
            <span class="dropdown-content">Report</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-pie"></i>
            </div>
            <span class="dropdown-content">Charts</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-line"></i>
            </div>
            <span class="dropdown-content">Statistics</span>
          </a>
        </div>
      </div>
      <!-- END Dropdown -->

    </div>
  </div>
  <div class="portlet-body widget3 widget3-sm">
    <div class="widget3-display">
      <h3 class="widget3-title">
        $5,650
        <sub class="widget3-subtitle">
          <i class="fa fa-caret-up"></i>
          25,2%
        </sub>
      </h3>
    </div>
  </div>
</div>
<!-- END Portlet -->
