<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-bell"></i>
    </div>
    <h3 class="portlet-title">Notification</h3>
    <div class="portlet-addon">

      <!-- BEGIN Dropdown -->
      <div class="dropdown">
        <button class="btn btn-label-primary dropdown-toggle" data-bs-toggle="dropdown">All</button>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
          <a class="dropdown-item" href="#">
            <span class="badge badge-label-primary">Personal</span>
          </a>
          <a class="dropdown-item" href="#">
            <span class="badge badge-label-info">Work</span>
          </a>
          <a class="dropdown-item" href="#">
            <span class="badge badge-label-success">Important</span>
          </a>
          <a class="dropdown-item" href="#">
            <span class="badge badge-label-danger">Company</span>
          </a>
        </div>
      </div>
      <!-- END Dropdown -->

    </div>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Rich List -->
    <div class="rich-list rich-list-bordered rich-list-action">
      <div class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-info">
            <div class="avatar-display">
              <i class="fa fa-file-invoice"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">New report has been received</h4>
          <span class="rich-list-subtitle">2 min ago</span>
        </div>
        <div class="rich-list-append">

          <!-- BEGIN Dropdown -->
          <div class="dropdown">
            <button class="btn btn-text-secondary btn-icon" data-bs-toggle="dropdown">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-check"></i>
                </div>
                <span class="dropdown-content">Mark as read</span>
              </a>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-trash-alt"></i>
                </div>
                <span class="dropdown-content">Delete</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-cog"></i>
                </div>
                <span class="dropdown-content">Settings</span>
              </a>
            </div>
          </div>
          <!-- END Dropdown -->

        </div>
      </div>
      <div class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-success">
            <div class="avatar-display">
              <i class="fa fa-shopping-basket"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">Last order was completed</h4>
          <span class="rich-list-subtitle">1 hrs ago</span>
        </div>
        <div class="rich-list-append">

          <!-- BEGIN Dropdown -->
          <div class="dropdown">
            <button class="btn btn-text-secondary btn-icon" data-bs-toggle="dropdown">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-check"></i>
                </div>
                <span class="dropdown-content">Mark as read</span>
              </a>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-trash-alt"></i>
                </div>
                <span class="dropdown-content">Delete</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-cog"></i>
                </div>
                <span class="dropdown-content">Settings</span>
              </a>
            </div>
          </div>
          <!-- END Dropdown -->

        </div>
      </div>
      <div class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-danger">
            <div class="avatar-display">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">Company meeting canceled</h4>
          <span class="rich-list-subtitle">5 hrs ago</span>
        </div>
        <div class="rich-list-append">

          <!-- BEGIN Dropdown -->
          <div class="dropdown">
            <button class="btn btn-text-secondary btn-icon" data-bs-toggle="dropdown">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-check"></i>
                </div>
                <span class="dropdown-content">Mark as read</span>
              </a>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-trash-alt"></i>
                </div>
                <span class="dropdown-content">Delete</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-cog"></i>
                </div>
                <span class="dropdown-content">Settings</span>
              </a>
            </div>
          </div>
          <!-- END Dropdown -->

        </div>
      </div>
      <div class="rich-list-item">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-warning">
            <div class="avatar-display">
              <i class="fa fa-paper-plane"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">New feedback received</h4>
          <span class="rich-list-subtitle">6 hrs ago</span>
        </div>
        <div class="rich-list-append">

          <!-- BEGIN Dropdown -->
          <div class="dropdown">
            <button class="btn btn-text-secondary btn-icon" data-bs-toggle="dropdown">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-check"></i>
                </div>
                <span class="dropdown-content">Mark as read</span>
              </a>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-trash-alt"></i>
                </div>
                <span class="dropdown-content">Delete</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div class="dropdown-icon">
                  <i class="fa fa-cog"></i>
                </div>
                <span class="dropdown-content">Settings</span>
              </a>
            </div>
          </div>
          <!-- END Dropdown -->

        </div>
      </div>
    </div>
    <!-- END Rich List -->

  </div>
</div>
<!-- END Portlet -->
