<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget10-item p-0">
      <div class="widget10-content">
        <h2 class="widget10-title">$27,639</h2>
        <span class="widget10-subtitle">Total revenue</span>
      </div>
      <div class="widget10-addon">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-primary avatar-circle widget10-avatar">
          <div class="avatar-display">
            <i class="fa fa-dollar-sign"></i>
          </div>
        </div>
        <!-- END Avatar -->

      </div>
    </div>
    <!-- END Widget -->

  </div>

  <!-- BEGIN Chart -->
  <div class="widget11 widget11-bottom widget-chart-7" data-chart-color="#2196f3" data-chart-label="Revenue" data-chart-currency="true" data-chart-series="6400, 4000, 7600, 6200, 9800, 6400"></div>
  <!-- END Chart -->

</div>
<!-- END Portlet -->
