<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">
    <h4 class="text-level-2">Daily Income</h4>
    <span class="text-muted">Check out each collumn for more details</span>

    <!-- BEGIN Chart -->
    <div id="widget-chart-8"></div>
    <!-- END Chart -->

  </div>
</div>
<!-- END Portlet -->
