<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-euro-sign"></i>
    </div>
    <h3 class="portlet-title">Profit share</h3>
    <div class="portlet-addon">

      <!-- BEGIN Dropdown -->
      <div class="dropdown">
        <button class="btn btn-label-primary dropdown-toggle" data-bs-toggle="dropdown">Export</button>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-poll"></i>
            </div>
            <span class="dropdown-content">Report</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-pie"></i>
            </div>
            <span class="dropdown-content">Charts</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-line"></i>
            </div>
            <span class="dropdown-content">Statistics</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-cog"></i>
            </div>
            <span class="dropdown-content">Customize</span>
          </a>
        </div>
      </div>
      <!-- END Dropdown -->

    </div>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Rich List -->
    <div class="rich-list flex-sm-row">
      <div class="rich-list-item flex-grow-1">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-primary">
            <div class="avatar-display">
              <i class="fa fa-chart-line"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">Profit</h4>
          <span class="rich-list-subtitle">IPO, Margins, Transactions</span>
        </div>
      </div>
      <div class="rich-list-item flex-grow-1">
        <div class="rich-list-prepend">

          <!-- BEGIN Avatar -->
          <div class="avatar avatar-label-success">
            <div class="avatar-display">
              <i class="fa fa-chart-pie"></i>
            </div>
          </div>
          <!-- END Avatar -->

        </div>
        <div class="rich-list-content">
          <h4 class="rich-list-title">Revenue</h4>
          <span class="rich-list-subtitle">Expenses, Loses, Profits</span>
        </div>
      </div>
    </div>
    <!-- END Rich List -->

  </div>

  <!-- BEGIN Chart -->
  <div class="widget11 widget11-bottom" id="widget-chart-2"></div>
  <!-- END Chart -->

</div>
<!-- END Portlet -->
