<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-truck-loading"></i>
    </div>
    <h3 class="portlet-title">Order progress</h3>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Table -->
    <div class="table-responsive-md">
      <table class="table text-nowrap mb-0">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Status</th>
            <th>Operators</th>
            <th>Location</th>
            <th>Progress</th>
            <th>Start date</th>
            <th>Estimation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">837563</td>
            <td class="align-middle">
              <i class="marker marker-dot text-primary"></i>
              Arrived
            </td>
            <td class="align-middle">

              <!-- BEGIN Avatar Group -->
              <div class="avatar-group">
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
              </div>
              <!-- END Avatar Group -->

            </td>
            <td class="align-middle">Tokyo</td>
            <td class="align-middle">

              <!-- BEGIN Widget -->
              <div class="widget4">
                <div class="widget4-group">
                  <div class="widget4-display">
                    <h6 class="widget4-subtitle">90%</h6>
                  </div>
                </div>

                <!-- BEGIN Progress -->
                <div class="progress progress-sm">
                  <div class="progress-bar bg-primary" style="width: 90%"></div>
                </div>
                <!-- END Progress -->

              </div>
              <!-- END Widget -->

            </td>
            <td class="align-middle">26/06/2020</td>
            <td class="align-middle">27/06/2020</td>
          </tr>
          <tr>
            <td class="align-middle">982365</td>
            <td class="align-middle">
              <i class="marker marker-dot text-danger"></i>
              Pending
            </td>
            <td class="align-middle">

              <!-- BEGIN Avatar Group -->
              <div class="avatar-group">
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
              </div>
              <!-- END Avatar Group -->

            </td>
            <td class="align-middle">San Francisco</td>
            <td class="align-middle">

              <!-- BEGIN Widget -->
              <div class="widget4">
                <div class="widget4-group">
                  <div class="widget4-display">
                    <h6 class="widget4-subtitle">20%</h6>
                  </div>
                </div>

                <!-- BEGIN Progress -->
                <div class="progress progress-sm">
                  <div class="progress-bar bg-primary" style="width: 20%"></div>
                </div>
                <!-- END Progress -->

              </div>
              <!-- END Widget -->

            </td>
            <td class="align-middle">23/04/2020</td>
            <td class="align-middle">28/04/2020</td>
          </tr>
          <tr>
            <td class="align-middle">872048</td>
            <td class="align-middle">
              <i class="marker marker-dot text-success"></i>
              Moving
            </td>
            <td class="align-middle">

              <!-- BEGIN Avatar Group -->
              <div class="avatar-group">
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
              </div>
              <!-- END Avatar Group -->

            </td>
            <td class="align-middle">Edinburgh</td>
            <td class="align-middle">

              <!-- BEGIN Widget -->
              <div class="widget4">
                <div class="widget4-group">
                  <div class="widget4-display">
                    <h6 class="widget4-subtitle">75%</h6>
                  </div>
                </div>

                <!-- BEGIN Progress -->
                <div class="progress progress-sm">
                  <div class="progress-bar bg-primary" style="width: 75%"></div>
                </div>
                <!-- END Progress -->

              </div>
              <!-- END Widget -->

            </td>
            <td class="align-middle">26/04/2020</td>
            <td class="align-middle">30/04/2020</td>
          </tr>
          <tr>
            <td class="align-middle">324712</td>
            <td class="align-middle">
              <i class="marker marker-dot text-warning"></i>
              Hold
            </td>
            <td class="align-middle">

              <!-- BEGIN Avatar Group -->
              <div class="avatar-group">
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
              </div>
              <!-- END Avatar Group -->

            </td>
            <td class="align-middle">Tokyo</td>
            <td class="align-middle">

              <!-- BEGIN Widget -->
              <div class="widget4">
                <div class="widget4-group">
                  <div class="widget4-display">
                    <h6 class="widget4-subtitle">30%</h6>
                  </div>
                </div>

                <!-- BEGIN Progress -->
                <div class="progress progress-sm">
                  <div class="progress-bar bg-primary" style="width: 30%"></div>
                </div>
                <!-- END Progress -->

              </div>
              <!-- END Widget -->

            </td>
            <td class="align-middle">26/06/2020</td>
            <td class="align-middle">30/06/2020</td>
          </tr>
          <tr>
            <td class="align-middle">128747</td>
            <td class="align-middle">
              <i class="marker marker-dot text-success"></i>
              Moving
            </td>
            <td class="align-middle">

              <!-- BEGIN Avatar Group -->
              <div class="avatar-group">
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
                <div class="avatar avatar-circle">
                  <div class="avatar-display">
                    <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                  </div>
                </div>
              </div>
              <!-- END Avatar Group -->

            </td>
            <td class="align-middle">New York</td>
            <td class="align-middle">

              <!-- BEGIN Widget -->
              <div class="widget4">
                <div class="widget4-group">
                  <div class="widget4-display">
                    <h6 class="widget4-subtitle">60%</h6>
                  </div>
                </div>

                <!-- BEGIN Progress -->
                <div class="progress progress-sm">
                  <div class="progress-bar bg-primary" style="width: 60%"></div>
                </div>
                <!-- END Progress -->

              </div>
              <!-- END Widget -->

            </td>
            <td class="align-middle">10/05/2020</td>
            <td class="align-middle">15/05/2020</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END Table -->

  </div>
</div>
<!-- END Portlet -->
