<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-users-cog"></i>
    </div>
    <h3 class="portlet-title">Human resources</h3>
    <div class="portlet-addon">

      <!-- BEGIN Navigation -->
      <div class="nav nav-pills portlet-nav" id="user-tab">
        <a class="nav-item nav-link active" id="user-manager-tab" data-bs-toggle="tab" href="#user-manager">Manager</a>
        <a class="nav-item nav-link" id="user-employee-tab" data-bs-toggle="tab" href="#user-employee">Employee</a>
      </div>
      <!-- END Navigation -->

    </div>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Tab -->
    <div class="tab-content p-0" id="user-tabContent">
      <div class="tab-pane fade show active" id="user-manager">

        <!-- BEGIN Rich List -->
        <div class="rich-list">
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Rhona Davidson</h4>
                    <span class="rich-list-subtitle">Javascript Developer, Tokyo</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">35%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 35%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Timothy Mooney</h4>
                    <span class="rich-list-subtitle">Office Manage, San Francisco</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">55%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 55%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Jackson Bradshaw</h4>
                    <span class="rich-list-subtitle">Regional Director, San Francisco</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">75%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 75%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Brielle Williamson</h4>
                    <span class="rich-list-subtitle">Integration Specialist, New York</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">60%</span>
                    </div>
                  </div>

                  <!-- BEGIN Portlet -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 60%"></div>
                  </div>
                  <!-- END Portlet -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Prescott Bartlett</h4>
                    <span class="rich-list-subtitle">Technical Author, London</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">85%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 85%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
        </div>
        <!-- END Rich List -->

      </div>
      <div class="tab-pane fade" id="user-employee">

        <!-- BEGIN Rich List -->
        <div class="rich-list">
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Timothy Mooney</h4>
                    <span class="rich-list-subtitle">Office Manage, San Francisco</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">55%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 55%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Prescott Bartlett</h4>
                    <span class="rich-list-subtitle">Technical Author, London</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">85%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 85%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Rhona Davidson</h4>
                    <span class="rich-list-subtitle">Javascript Developer, Tokyo</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">35%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 35%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Brielle Williamson</h4>
                    <span class="rich-list-subtitle">Integration Specialist, New York</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">60%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 60%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
          <div class="rich-list-item">

            <!-- BEGIN Row -->
            <div class="row g-2 w-100">
              <div class="col-lg-6">

                <!-- BEGIN Rich List -->
                <div class="rich-list-item p-0">
                  <div class="rich-list-prepend">

                    <!-- BEGIN Avatar -->
                    <div class="avatar avatar-circle avatar-lg">
                      <div class="avatar-display">
                        <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                      </div>
                    </div>
                    <!-- END Avatar -->

                  </div>
                  <div class="rich-list-content">
                    <h4 class="rich-list-title">Jackson Bradshaw</h4>
                    <span class="rich-list-subtitle">Regional Director, San Francisco</span>
                  </div>
                </div>
                <!-- END Rich List -->

              </div>
              <div class="col-lg-6 d-flex align-items-center">

                <!-- BEGIN Widget -->
                <div class="widget4 flex-grow-1 me-4">
                  <div class="widget4-group">
                    <div class="widget4-display">
                      <h6 class="widget4-subtitle">Progress</h6>
                    </div>
                    <div class="widget4-addon">
                      <span class="text-muted">75%</span>
                    </div>
                  </div>

                  <!-- BEGIN Progress -->
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 75%"></div>
                  </div>
                  <!-- END Progress -->

                </div>
                <!-- END Widget -->

                <a href="#" class="btn btn-label-primary">Follow</a>
              </div>
            </div>
            <!-- END Row -->

          </div>
        </div>
        <!-- END Rich List -->

      </div>
    </div>
    <!-- END Tab -->

  </div>
</div>
<!-- END Portlet -->
