<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-funnel-dollar"></i>
    </div>
    <h3 class="portlet-title">Employee salary</h3>
  </div>

  <!-- BEGIN Carousel -->
  <div class="carousel carousel-center my-3" id="widget-carousel-nav">
    <div class="carousel-item">

      <!-- BEGIN Widget -->
      <div class="widget6">
        <h5 class="widget6-title">Software Engineer</h5>
        <span class="widget6-subtitle">San Francisco</span>
      </div>
      <!-- END Widget -->

    </div>
    <div class="carousel-item">

      <!-- BEGIN Widget -->
      <div class="widget6">
        <h5 class="widget6-title">Javascript Developer</h5>
        <span class="widget6-subtitle">Singapore</span>
      </div>
      <!-- END Widget -->

    </div>
    <div class="carousel-item">

      <!-- BEGIN Widget -->
      <div class="widget6">
        <h5 class="widget6-title">Marketing Designer</h5>
        <span class="widget6-subtitle">Edinburgh</span>
      </div>
      <!-- END Widget -->

    </div>
  </div>
  <!-- END Carousel -->

  <div class="portlet-body">

    <!-- BEGIN Carousel -->
    <div class="carousel" id="widget-carousel">
      <div class="carousel-item">

        <!-- BEGIN Rich List -->
        <div class="rich-list">
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Angelica Ramos</h4>
              <span class="rich-list-subtitle">$162,700</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$17</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Airi Satou</h4>
              <span class="rich-list-subtitle">$433,060</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-danger fs-6">-$127</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Colleen Hurst</h4>
              <span class="rich-list-subtitle">$205,500</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$56</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Brielle Williamson</h4>
              <span class="rich-list-subtitle">$86,000</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$6</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Garrett Winters</h4>
              <span class="rich-list-subtitle">$327,900</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-danger fs-6">-$25</span>
            </div>
          </div>
        </div>
        <!-- END Rich List -->

      </div>
      <div class="carousel-item">

        <!-- BEGIN Rich List -->
        <div class="rich-list">
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Airi Satou</h4>
              <span class="rich-list-subtitle">$433,060</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-danger fs-6">-$127</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Angelica Ramos</h4>
              <span class="rich-list-subtitle">$162,700</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$17</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Garrett Winters</h4>
              <span class="rich-list-subtitle">$327,900</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-danger fs-6">-$25</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Brielle Williamson</h4>
              <span class="rich-list-subtitle">$86,000</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$6</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Colleen Hurst</h4>
              <span class="rich-list-subtitle">$205,500</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$56</span>
            </div>
          </div>
        </div>
        <!-- END Rich List -->

      </div>
      <div class="carousel-item">

        <!-- BEGIN Rich List -->
        <div class="rich-list">
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Airi Satou</h4>
              <span class="rich-list-subtitle">$433,060</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-danger fs-6">-$127</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Colleen Hurst</h4>
              <span class="rich-list-subtitle">$205,500</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$56</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Brielle Williamson</h4>
              <span class="rich-list-subtitle">$86,000</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$6</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Garrett Winters</h4>
              <span class="rich-list-subtitle">$327,900</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-danger fs-6">-$25</span>
            </div>
          </div>
          <div class="rich-list-item">
            <div class="rich-list-prepend">

              <!-- BEGIN Avatar -->
              <div class="avatar">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <!-- END Avatar -->

            </div>
            <div class="rich-list-content">
              <h4 class="rich-list-title">Angelica Ramos</h4>
              <span class="rich-list-subtitle">$162,700</span>
            </div>
            <div class="rich-list-append">
              <span class="badge badge-label-success fs-6">+$17</span>
            </div>
          </div>
        </div>
        <!-- END Rich List -->

      </div>
    </div>
    <!-- END Carousel -->

  </div>
</div>
<!-- END Portlet -->
