<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-clipboard-list"></i>
    </div>
    <h3 class="portlet-title">Recent activities</h3>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Timeline -->
    <div class="timeline timeline-timed">
      <div class="timeline-item">
        <span class="timeline-time">10:00</span>
        <div class="timeline-pin">
          <i class="marker marker-circle text-primary"></i>
        </div>
        <div class="timeline-content">
          <div>
            <span>Meeting with</span>

            <!-- BEGIN Avatar Group -->
            <div class="avatar-group ms-2">
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
                </div>
              </div>
            </div>
            <!-- END Avatar Group -->

          </div>
        </div>
      </div>
      <div class="timeline-item">
        <span class="timeline-time">12:45</span>
        <div class="timeline-pin">
          <i class="marker marker-circle text-warning"></i>
        </div>
        <div class="timeline-content">
          <p class="mb-0">Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore magna elit enim at minim veniam quis nostrud</p>
        </div>
      </div>
      <div class="timeline-item">
        <span class="timeline-time">14:00</span>
        <div class="timeline-pin">
          <i class="marker marker-circle text-danger"></i>
        </div>
        <div class="timeline-content">
          <p class="mb-0">Received a new feedback on <a href="#">GoFinance</a> App product.</p>
        </div>
      </div>
      <div class="timeline-item">
        <span class="timeline-time">15:20</span>
        <div class="timeline-pin">
          <i class="marker marker-circle text-success"></i>
        </div>
        <div class="timeline-content">
          <p class="mb-0">Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
      <div class="timeline-item">
        <span class="timeline-time">17:00</span>
        <div class="timeline-pin">
          <i class="marker marker-circle text-info"></i>
        </div>
        <div class="timeline-content">
          <p class="mb-0">Make Deposit <a href="#">USD 700</a> o ESL.</p>
        </div>
      </div>
    </div>
    <!-- END Timeline -->

  </div>
</div>
<!-- END Portlet -->
