<!-- BEGIN Portlet -->
<div class="portlet portlet-primary">
  <div class="portlet-body">
    <h4>Page views</h4>
    <span>Check out the chart</span>

    <!-- BEGIN Chart -->
    <div class="widget-chart-9" data-chart-color="#fff" data-chart-label="Visit" data-chart-series="320, 450, 360, 560, 440, 480"></div>
    <!-- END Chart -->

  </div>
</div>
<!-- END Portlet -->
