<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-exchange-alt"></i>
    </div>
    <h3 class="portlet-title">Revenue change</h3>
    <div class="portlet-addon">

      <!-- BEGIN Dropdown -->
      <div class="dropdown">
        <button class="btn btn-label-primary btn-icon" data-bs-toggle="dropdown">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-poll"></i>
            </div>
            <span class="dropdown-content">Report</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-pie"></i>
            </div>
            <span class="dropdown-content">Charts</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-line"></i>
            </div>
            <span class="dropdown-content">Statistics</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-cog"></i>
            </div>
            <span class="dropdown-content">Settings</span>
          </a>
        </div>
      </div>
      <!-- END Dropdown -->

    </div>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Chart -->
    <div id="widget-chart-1"></div>
    <!-- END Chart -->

    <!-- BEGIN Row -->
    <div class="row gy-2 mt-4">
      <div class="col-6">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h6 class="widget4-subtitle">New York</h6>
            </div>
            <div class="widget4-addon">
              <h6 class="widget4-subtitle">60%</h6>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-warning" style="width: 60%"></div>
          </div>
          <!-- END Progress -->

        </div>
        <!-- END Widget -->

      </div>
      <div class="col-6">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h6 class="widget4-subtitle">San Francisco</h6>
            </div>
            <div class="widget4-addon">
              <h6 class="widget4-subtitle">75%</h6>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-primary" style="width: 75%"></div>
          </div>
          <!-- END Progress -->

        </div>
        <!-- END Widget -->

      </div>
      <div class="col-6">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h6 class="widget4-subtitle">Sydney</h6>
            </div>
            <div class="widget4-addon">
              <h6 class="widget4-subtitle">90%</h6>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-success" style="width: 90%"></div>
          </div>
          <!-- END Progress -->

        </div>
        <!-- END Widget -->

      </div>
      <div class="col-6">
        
        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h6 class="widget4-subtitle">Tokyo</h6>
            </div>
            <div class="widget4-addon">
              <h6 class="widget4-subtitle">55%</h6>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-danger" style="width: 55%"></div>
          </div>
          <!-- END Progress -->

        </div>
        <!-- END Widget -->
      
      </div>
    </div>
    <!-- END Row -->

  </div>
</div>
<!-- END Portlet -->
