<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-boxes"></i>
    </div>
    <h3 class="portlet-title">Sales changes</h3>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Row -->
    <div class="row">
      <div class="col-md-6 col-lg-5 p-5">
        <h3 class="display-4">3,478</h3>
        <span class="text-muted">Sales this month</span>
        <p class="text-level-2 my-3">
          <span class="text-success">
            <i class="fa fa-caret-up"></i>
            +11% more sales
          </span>
          in comparison to last month
        </p>
        <p class="text-level-2 my-3">
          <span class="text-danger">
            <i class="fa fa-caret-down"></i>
            -2% revenue pre sales
          </span>
          in comparison to last month
        </p>
        <a href="#" class="btn btn-label-primary btn-widest">View details</a>
      </div>
      <div class="col-md-6 col-lg-7">

        <!-- BEGIN Chart -->
        <div id="widget-chart-5"></div>
        <!-- END Chart -->

      </div>
    </div>
    <!-- END Row -->

  </div>
</div>
<!-- END Portlet -->
