<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Row -->
    <div class="row g-2">
      <div class="col-sm-6">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h3 class="widget4-subtitle">Completed Transactions</h3>
              <h2 class="widget4-highlight">54,234</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
      <div class="col-sm-6">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h3 class="widget4-subtitle">Avarage Product Price</h3>
              <h2 class="widget4-highlight">$67,50</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
      <div class="col-sm-6">
        
        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h3 class="widget4-subtitle">New Orders</h3>
              <h2 class="widget4-highlight">242</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->
      
      </div>
      <div class="col-sm-6">
        
        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h2 class="widget4-subtitle">Satisfication Rate</h2>
            </div>
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">90%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress">
            <div class="progress-bar bg-primary" style="width: 90%"></div>
          </div>
          <!-- END Progress -->

        </div>
        <!-- END Widget -->

      </div>
    </div>
    <!-- END Row -->

  </div>
</div>
<!-- END Portlet -->
