<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-map-marker-alt"></i>
    </div>
    <h3 class="portlet-title">Weather</h3>
  </div>
  <div class="portlet-body p-0">

    <!-- BEGIN Widget -->
    <div class="widget9">
      <div class="widget9-display">
        <span class="widget9-icon">
          <i class="fa fa-cloud-sun-rain"></i>
        </span>
        <h3 class="widget9-text">
          28 <sup class="widget9-degree">°C</sup>
        </h3>
      </div>
      <div class="widget9-grid">
        <div class="widget9-grid-item">
          <div class="widget9-grid-item-icon">
            <i class="fa fa-fan"></i>
          </div>
          <span class="widget9-grid-item-text">12 KM</span>
        </div>
        <div class="widget9-grid-item">
          <div class="widget9-grid-item-icon">
            <i class="fa fa-compass"></i>
          </div>
          <span class="widget9-grid-item-text">NW</span>
        </div>
        <div class="widget9-grid-item">
          <div class="widget9-grid-item-icon">
            <i class="fa fa-cloud"></i>
          </div>
          <span class="widget9-grid-item-text">98%</span>
        </div>
      </div>
      <div class="widget9-list">
        <div class="widget9-list-item">
          <span class="widget9-list-item-text">Sun</span>
          <div class="widget9-list-item-addon">
            <div class="widget9-display widget9-display-sm">
              <span class="widget9-icon">
                <i class="fa fa-cloud-sun"></i>
              </span>
              <h3 class="widget9-text">
                30 <sup class="widget9-degree">°C</sup>
              </h3>
            </div>
          </div>
        </div>
        <div class="widget9-list-item">
          <span class="widget9-list-item-text">Tue</span>
          <div class="widget9-list-item-addon">
            <div class="widget9-display widget9-display-sm">
              <span class="widget9-icon">
                <i class="fa fa-cloud-rain"></i>
              </span>
              <h3 class="widget9-text">
                25 <sup class="widget9-degree">°C</sup>
              </h3>
            </div>
          </div>
        </div>
        <div class="widget9-list-item">
          <span class="widget9-list-item-text">Wed</span>
          <div class="widget9-list-item-addon">
            <div class="widget9-display widget9-display-sm">
              <span class="widget9-icon">
                <i class="fa fa-cloud-showers-heavy"></i>
              </span>
              <h3 class="widget9-text">
                22 <sup class="widget9-degree">°C</sup>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Widget -->

  </div>
</div>
<!-- END Portlet -->
