<!-- BEGIN Portlet -->
<div class="portlet widget1">
  <div class="widget1-display widget1-display-top widget1-display-sm justify-content-between bg-primary text-white">
    <div class="widget1-group">
      <div class="widget1-addon">
        <button class="btn btn-label-light">2019</button>
      </div>
    </div>
    <div class="widget1-group">
      <h3 class="widget1-title">Personal profile</h3>
    </div>
  </div>
  <div class="widget1-body">

    <!-- BEGIN Rich List -->
    <div class="rich-list-item p-0 mb-3">
      <div class="rich-list-prepend">

        <!-- BEGIN Avatar -->
        <div class="avatar">
          <div class="avatar-display">
            <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
          </div>
        </div>
        <!-- END Avatar -->

      </div>
      <div class="rich-list-content">
        <h4 class="rich-list-title">Jackson Bradshaw</h4>
        <span class="rich-list-subtitle">Office Manage, San Francisco</span>
      </div>
      <div class="rich-list-append rich-list-append d-flex flex-column">
        <h3 class="fw-bolder mb-0">32</h3>
        <small class="text-muted">Comments</small>
      </div>
    </div>
    <!-- END Rich List -->

    <p class="text-level-1 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a href="#" class="btn btn-label-primary btn-wide">Read more</a>
  </div>
</div>
<!-- END Portlet -->
