<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-boxes"></i>
    </div>
    <h3 class="portlet-title">Product sales</h3>
  </div>
  <div class="portlet-body widget3">
    <div class="widget3-display">
      <h3 class="widget3-title">$237,650
        <sub class="widget3-subtitle">Total Revenue</sub>
      </h3>
    </div>

    <!-- BEGIN Row -->
    <div class="row gy-2">
      <div class="col-md-4">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-highlight">62%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-primary" style="width: 62%"></div>
          </div>
          <!-- END Progress -->

          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">Sales growth</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
      <div class="col-md-4">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-highlight">40%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-danger" style="width: 40%"></div>
          </div>
          <!-- BEGIN Progress -->

          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">Product growth</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
      <div class="col-md-4">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-highlight">74%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-success" style="width: 74%"></div>
          </div>
          <!-- END Progress -->

          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">Market share</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
    </div>
    <!-- END Row -->

  </div>
</div>
<!-- END Portlet -->
