<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget4">
      <div class="widget4-group">
        <div class="widget4-display">
          <h3 class="widget4-title">New Orders</h3>
          <h6 class="widget4-subtitle">Fresh Order Amount</h6>
        </div>
        <div class="widget4-addon">
          <h2 class="widget4-highlight text-info">523</h2>
        </div>
      </div>

      <!-- BEGIN Progress -->
      <div class="progress progress-sm">
        <div class="progress-bar bg-info" style="width: 75%"></div>
      </div>
      <!-- END Progress -->

      <div class="widget4-group">
        <div class="widget4-display">
          <h6 class="widget4-subtitle">Change</h6>
        </div>
        <div class="widget4-addon">
          <span class="text-muted">75%</span>
        </div>
      </div>
    </div>
    <!-- END Widget -->

    <hr>

    <!-- BEGIN Widget -->
    <div class="widget4">
      <div class="widget4-group">
        <div class="widget4-display">
          <h3 class="widget4-title">New Users</h3>
          <h6 class="widget4-subtitle">Joined New User</h6>
        </div>
        <div class="widget4-addon">
          <h2 class="widget4-highlight text-success">138</h2>
        </div>
      </div>

      <!-- BEGIN Progress -->
      <div class="progress progress-sm">
        <div class="progress-bar bg-success" style="width: 60%"></div>
      </div>
      <!-- END Progress -->

      <div class="widget4-group">
        <div class="widget4-display">
          <h6 class="widget4-subtitle">Change</h6>
        </div>
        <div class="widget4-addon">
          <span class="text-muted">60%</span>
        </div>
      </div>
    </div>
    <!-- END Widget -->

  </div>
</div>
<!-- END Portlet -->
