<!-- BEGIN Portlet -->
<div class="portlet widget1">
  <div class="widget1-display bg-primary text-white">
    <div class="widget1-group">
      <h3 class="widget1-title">Announcement</h3>
      <div class="widget1-addon">

        <!-- BEGIN Dropdown -->
        <div class="dropdown">
          <button class="btn btn-label-light btn-icon" data-bs-toggle="dropdown">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-poll"></i>
              </div>
              <span class="dropdown-content">Report</span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-calendar-alt"></i>
              </div>
              <span class="dropdown-content">Event</span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-bell"></i>
              </div>
              <span class="dropdown-content">Notification</span>
            </a>
          </div>
        </div>
        <!-- END Dropdown -->

      </div>
    </div>
    <div class="widget1-dialog">
      <div class="widget1-dialog-content widget1-dialog-content d-flex flex-column align-items-center">
        <h5 class="text-center mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ratione eum quidem optio.</h5>

        <!-- BEGIN Rich List -->
        <div class="rich-list-item my-4">
          <div class="rich-list-prepend">

            <!-- BEGIN Avatar -->
            <div class="avatar avatar-circle avatar-info">
              <div class="avatar-display">C</div>
            </div>
            <!-- END Avatar -->

          </div>
          <div class="rich-list-content">
            <h4 class="rich-list-title text-white">Charlie Stone</h4>
            <span class="rich-list-subtitle text-white">1 min</span>
          </div>
        </div>
        <!-- END Rich List -->

        <a href="#" class="btn btn-label-light btn-widest">All feeds</a>
      </div>
    </div>
  </div>
</div>
<!-- END Portlet -->
