<!-- BEGIN Portlet -->
<div class="portlet">

  <!-- BEGIN Widget -->
  <div class="widget10 widget10-vertical-lg">
    <div class="widget10-item">
      <div class="widget10-content">
        <h2 class="widget10-title">$27,639</h2>
        <span class="widget10-subtitle">Total revenue</span>
      </div>
      <div class="widget10-addon">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-info avatar-circle widget10-avatar">
          <div class="avatar-display">
            <i class="fa fa-dollar-sign"></i>
          </div>
        </div>
        <!-- END Avatar -->

      </div>
    </div>
    <div class="widget10-item">
      <div class="widget10-content">
        <h2 class="widget10-title">87,123</h2>
        <span class="widget10-subtitle">Order received</span>
      </div>
      <div class="widget10-addon">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-primary avatar-circle widget10-avatar">
          <div class="avatar-display">
            <i class="fa fa-boxes"></i>
          </div>
        </div>
        <!-- END Avatar -->

      </div>
    </div>
  </div>
  <!-- END Widget -->

</div>
<!-- END Portlet -->
