<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget10-item p-0">
      <div class="widget10-content">
        <h2 class="widget10-title">5,726</h2>
        <span class="widget10-subtitle">Unique visits</span>
      </div>
      <div class="widget10-addon">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-danger avatar-circle widget10-avatar">
          <div class="avatar-display">
            <i class="fa fa-link"></i>
          </div>
        </div>
        <!-- END Avatar -->

      </div>
    </div>
    <!-- END Widget -->

  </div>

  <!-- BEGIN Chart -->
  <div class="widget11 widget11-bottom widget-chart-7" data-chart-color="#f44336" data-chart-label="Visit" data-chart-currency="false" data-chart-series="560, 400, 480, 340, 780, 640"></div>
  <!-- END Chart -->

</div>
<!-- END Portlet -->
