<!-- BEGIN Portlet -->
<div class="portlet portlet-primary">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-chalkboard"></i>
    </div>
    <h3 class="portlet-title">Company summary</h3>
    <div class="portlet-addon">

      <!-- BEGIN Dropdown -->
      <div class="dropdown">
        <button class="btn btn-label-light dropdown-toggle" data-bs-toggle="dropdown">June, 2020</button>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-poll"></i>
            </div>
            <span class="dropdown-content">Report</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-pie"></i>
            </div>
            <span class="dropdown-content">Charts</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-line"></i>
            </div>
            <span class="dropdown-content">Statistics</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-cog"></i>
            </div>
            <span class="dropdown-content">Settings</span>
          </a>
        </div>
      </div>
      <!-- END Dropdown -->

    </div>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Grid -->
    <div class="d-grid gap-2">
    
      <!-- BEGIN Portlet -->
      <div class="portlet mb-0">
        <div class="portlet-body">

          <!-- BEGIN Widget -->
          <div class="widget5">
            <h4 class="widget5-title">Monthly income</h4>
            <div class="widget5-group">
              <div class="widget5-item">
                <span class="widget5-info">Total</span>
                <span class="widget5-value">$65,880</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Change</span>
                <span class="widget5-value text-success">+15%</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Sales</span>
                <span class="widget5-value">554</span>
              </div>
            </div>
          </div>
          <!-- END Widget -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet mb-0">
        <div class="portlet-body">

          <!-- BEGIN Widget -->
          <div class="widget5">
            <h4 class="widget5-title">Employee amount</h4>
            <div class="widget5-group">
              <div class="widget5-item">
                <span class="widget5-info">Total</span>
                <span class="widget5-value">1250</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Change</span>
                <span class="widget5-value text-danger">-2%</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Active</span>
                <span class="widget5-value">1120</span>
              </div>
            </div>
          </div>
          <!-- END Widget -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet mb-0">
        <div class="portlet-body">

          <!-- BEGIN Widget -->
          <div class="widget5">
            <h4 class="widget5-title">Product sales</h4>
            <div class="widget5-group">
              <div class="widget5-item">
                <span class="widget5-info">Total</span>
                <span class="widget5-value">2350</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Change</span>
                <span class="widget5-value text-success">+10%</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Last report</span>
                <span class="widget5-value">2220</span>
              </div>
            </div>
          </div>
          <!-- END Widget -->

        </div>
      </div>
      <!-- END Portlet -->

      <!-- BEGIN Portlet -->
      <div class="portlet mb-0">
        <div class="portlet-body">

          <!-- BEGIN Widget -->
          <div class="widget5">
            <h4 class="widget5-title">Monthly profit</h4>
            <div class="widget5-group">
              <div class="widget5-item">
                <span class="widget5-info">Total</span>
                <span class="widget5-value">$502,100</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Change</span>
                <span class="widget5-value text-success">+15%</span>
              </div>
              <div class="widget5-item">
                <span class="widget5-info">Last month</span>
                <span class="widget5-value">$453,000</span>
              </div>
            </div>
          </div>
          <!-- END Widget -->

        </div>
      </div>
      <!-- END Portlet -->
    
    </div>
    <!-- END Grid -->

  </div>
  <div class="portlet-footer text-end">
    <button class="btn btn-label-light">View all packages</button>
  </div>
</div>
<!-- END Portlet -->
