<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-user-tag"></i>
    </div>
    <h3 class="portlet-title">User feeds</h3>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Rich List -->
    <div class="rich-list rich-list-flush">
      <div class="rich-list-item flex-column align-items-stretch">

        <!-- BEGIN Rich List -->
        <div class="rich-list-item p-0 mb-2">
          <div class="rich-list-prepend">

            <!-- BEGIN Avatar -->
            <div class="avatar">
              <div class="avatar-display">
                <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
              </div>
            </div>
            <!-- END Avatar -->

          </div>
          <div class="rich-list-content">
            <h4 class="rich-list-title">Airi Satou</h4>
            <span class="rich-list-subtitle">Accountant</span>
          </div>
          <div class="rich-list-append">
            <button class="btn btn-label-primary">Follow</button>
          </div>
        </div>
        <!-- END Rich List -->

        <p class="text-justify mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem optio libero deleniti minus culpa modi, quam rem eius quaerat aut.</p>
      </div>
      <div class="rich-list-item flex-column align-items-stretch">

        <!-- BEGIN Rich List -->
        <div class="rich-list-item p-0 mb-2">
          <div class="rich-list-prepend">

            <!-- BEGIN Avatar -->
            <div class="avatar">
              <div class="avatar-display">
                <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
              </div>
            </div>
            <!-- END Avatar -->

          </div>
          <div class="rich-list-content">
            <h4 class="rich-list-title">Cedric Kelly</h4>
            <span class="rich-list-subtitle">Senior Developer</span>
          </div>
          <div class="rich-list-append">
            <button class="btn btn-label-primary">Follow</button>
          </div>
        </div>
        <!-- END Rich List -->

        <p class="text-justify mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus non, in, culpa libero quidem consequatur.</p>
      </div>
      <div class="rich-list-item flex-column align-items-stretch">

        <!-- BEGIN Rich List -->
        <div class="rich-list-item p-0 mb-2">
          <div class="rich-list-prepend">

            <!-- BEGIN Avatar -->
            <div class="avatar">
              <div class="avatar-display">
                <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
              </div>
            </div>
            <!-- END Avatar -->

          </div>
          <div class="rich-list-content">
            <h4 class="rich-list-title">Brielle Williamson</h4>
            <span class="rich-list-subtitle">Integration Specialist</span>
          </div>
          <div class="rich-list-append">
            <button class="btn btn-label-primary">Follow</button>
          </div>
        </div>
        <!-- END Rich List -->

        <p class="text-justify mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nesciunt blanditiis tempora eius accusamus, libero facere amet! Neque quis odio dicta dolor, eaque consectetur. Nihil?</p>
      </div>
      <div class="rich-list-item flex-column align-items-stretch">

        <!-- BEGIN Rich List -->
        <div class="rich-list-item p-0 mb-2">
          <div class="rich-list-prepend">

            <!-- BEGIN Avatar -->
            <div class="avatar">
              <div class="avatar-display">
                <img src="{{ 'assets/images/avatar/blank.webp' | url }}" alt="Avatar image">
              </div>
            </div>
            <!-- END Avatar -->

          </div>
          <div class="rich-list-content">
            <h4 class="rich-list-title">Sonya Frost</h4>
            <span class="rich-list-subtitle">Software Engineer</span>
          </div>
          <div class="rich-list-append">
            <button class="btn btn-label-primary">Follow</button>
          </div>
        </div>
        <!-- END Rich List -->

        <p class="text-justify mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita praesentium rem aut aliquam perferendis harum molestiae cum beatae, perspiciatis, at nisi reprehenderit minus voluptatibus veritatis. Iste laborum possimus nobis vero?</p>
      </div>
    </div>
    <!-- END Rich List -->

  </div>
</div>
<!-- END Portlet -->
