<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <h3 class="portlet-title">Features</h3>
    <div class="portet-addon">

      <!-- BEGIN Dropdown -->
      <div class="dropdown">
        <button class="btn btn-text-secondary btn-icon" data-bs-toggle="dropdown">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-poll"></i>
            </div>
            <span class="dropdown-content">Report</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-pie"></i>
            </div>
            <span class="dropdown-content">Charts</span>
          </a>
          <a class="dropdown-item" href="#">
            <div class="dropdown-icon">
              <i class="fa fa-chart-line"></i>
            </div>
            <span class="dropdown-content">Statistics</span>
          </a>
        </div>
      </div>
      <!-- END Dropdown -->

    </div>
  </div>
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget8">
      <div class="widget8-content">
        <h4 class="widget8-highlight widget8-highlight-lg text-primary">34</h4>
        <h6 class="widget8-title">Proposals</h6>
      </div>
    </div>
    <!-- END Widget -->

  </div>
  <div class="portlet-footer">
    <span class="text-muted">Completed: <strong>8</strong></span>
  </div>
</div>
<!-- END Portlet -->
