<!-- BEGIN Portlet -->
<div class="portlet widget1">
  <div class="widget1-display widget1-display-top widget1-display-lg bg-primary text-white">
    <div class="widget1-group">
      <h3 class="widget1-title">Company income</h3>
      <div class="widget1-addon">

        <!-- BEGIN Dropdown -->
        <div class="dropdown">
          <button class="btn btn-label-light dropdown-toggle" data-bs-toggle="dropdown">Option</button>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-poll"></i>
              </div>
              <span class="dropdown-content">Report</span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-chart-pie"></i>
              </div>
              <span class="dropdown-content">Charts</span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-chart-line"></i>
              </div>
              <span class="dropdown-content">Statistics</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-cog"></i>
              </div>
              <span class="dropdown-content">Settings</span>
            </a>
          </div>
        </div>
        <!-- END Dropdown -->

      </div>
    </div>
    <div class="widget1-dialog">
      <div class="widget1-dialog-content">
        <h1 class="display-3">$237,650</h1>
      </div>
    </div>
    <div class="widget1-offset">
      <button class="btn btn-flat-secondary btn-lg btn-widest btn-tallest rounded-pill">All Earnings</button>
    </div>
  </div>
  <div class="widget1-body pt-5">

    <!-- BEGIN Navigation -->
    <div class="nav nav-lg nav-justified widget2 mb-4" id="income-tab">
      <a class="nav-item nav-link active" id="income-march-tab" data-bs-toggle="tab" href="#income-march">March</a>
      <a class="nav-item nav-link" id="income-april-tab" data-bs-toggle="tab" href="#income-april">April</a>
      <a class="nav-item nav-link" id="income-mei-tab" data-bs-toggle="tab" href="#income-mei">Mei</a>
      <a class="nav-item nav-link" id="income-june-tab" data-bs-toggle="tab" href="#income-june">June</a>
    </div>
    <!-- END Navigation -->

    <!-- BEGIN Tab -->
    <div class="tab-content p-0" id="income-tabContent">
      <div class="tab-pane fade show active" id="income-march">

        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">

          <!-- BEGIN Rich List -->
          <div class="rich-list rich-list-flush">
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$23,050</h4>
                <span class="rich-list-subtitle">Annual companies taxes</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$46,50</h4>
                <span class="rich-list-subtitle">Avarage product price</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$260,700</h4>
                <span class="rich-list-subtitle">Total annual profit before tax</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->

        </div>
        <!-- END Portlet -->

      </div>
      <div class="tab-pane fade" id="income-april">

        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">

          <!-- BEGIN Rich List -->
          <div class="rich-list rich-list-flush">
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$13,000</h4>
                <span class="rich-list-subtitle">Annual companies taxes</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$34,00</h4>
                <span class="rich-list-subtitle">Avarage product price</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$350,650</h4>
                <span class="rich-list-subtitle">Total annual profit before tax</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->

        </div>
        <!-- END Portlet -->

      </div>
      <div class="tab-pane fade" id="income-mei">

        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">

          <!-- BEGIN Rich List -->
          <div class="rich-list rich-list-flush">
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$3,050</h4>
                <span class="rich-list-subtitle">Annual companies taxes</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$16,20</h4>
                <span class="rich-list-subtitle">Avarage product price</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$135,500</h4>
                <span class="rich-list-subtitle">Total annual profit before tax</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->

        </div>
        <!-- END Portlet -->

      </div>
      <div class="tab-pane fade" id="income-june">

        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">

          <!-- BEGIN Rich List -->
          <div class="rich-list rich-list-flush">
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$56,650</h4>
                <span class="rich-list-subtitle">Annual companies taxes</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$35,50</h4>
                <span class="rich-list-subtitle">Avarage product price</span>
              </div>
            </div>
            <div class="rich-list-item">
              <div class="rich-list-content">
                <h4 class="rich-list-title">$341,080</h4>
                <span class="rich-list-subtitle">Total annual profit before tax</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->

        </div>
        <!-- END Portlet -->

      </div>
    </div>
    <!-- END Tab -->

  </div>
</div>
<!-- BEGIN Portlet -->
